<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      Compose article ({{language.name}})
    </div>
  </div>
  <div class="portlet-body">
    <div class="form-group">
      <label for="">Headline</label>
      <input type="text" class="form-control" [(ngModel)]="articleLanguageValue.headLine">
    </div>


    <div class="form-group">
      <label for="">Extract</label>
      <textarea class="form-control" [(ngModel)]="articleLanguageValue.extract" rows="5"></textarea>
    </div>


    <div class="form-group">
      <label for="">Content</label>
      <div [froalaEditor]="editorOptions" [(froalaModel)]="articleLanguageValue.content"></div>
    </div>
  </div>
</div>


<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      SEO Meta
    </div>
  </div>
  <div class="portlet-body">
    <app-seo-meta [(seoMeta)]="articleLanguageValue.metaTag"></app-seo-meta>
  </div>
</div>








<!-- <div [froalaView]="articleLanguageValue.content"></div> -->
