packages/
bin/
obj/
.svn/
.vs/
dist/
node_modules/
npm-debug.log
*.bak
*.log
.vscode/
VnStyle/VnStyle/VnStyle.Web/contents/uploads/
VnStyle/VnStyle/VnStyle.Web/imagecache/
VnStyle/VnStyle/VnStyle.Web/portal/