<div class="row mr-top-15">
  <div class="" *ngIf="!pageState.initialized">
    <!--<app-spinner class="text-center"></app-spinner>-->
  </div>
  <div class="" *ngIf="pageState.initialized">
    <div class="col-xs-12">
      <div class="portlet box blue-hoki">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-map-marker"></i>Base Information
          </div>
          <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i> Edit </a>
          </div>
        </div>
        <div class="portlet-body form">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">

              <table class="table table-tripped">
                <tr>
                  <td style="width: 200px">Name</td>
                  <td>{{pageState.data.markup.markupInfo.name}}</td>
                </tr>
                <tr>
                  <td>Phone number</td>
                  <td> {{pageState.data.markup.markupInfo.phoneNumber}}</td>
                </tr>
                <tr>
                  <td>Short description</td>
                  <td>{{pageState.data.markup.markupInfo.shortDescription}}</td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>{{pageState.data.markup.markupInfo.description}}</td>
                </tr>
                
              </table>
              

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
              <table class="table">                
                <tr>
                  <td>Generate by Admin</td>
                  <td><i class="fa fa-lg {{pageState.data.markup.markupInfo.generatedByAdmin ? 'fa-check-square-o' : 'fa-square-o'}} " aria-hidden="true"></i></td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </td>
                  <td>
                    {{pageState.data.markup.markupInfo.oneStarCount}} / {{pageState.data.markup.markupInfo.rating.total}} <span>({{pageState.data.markup.markupInfo.rating.oneStarPercentage}} %)</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </td>
                  <td>
                    {{pageState.data.markup.markupInfo.twoStarCount}} / {{pageState.data.markup.markupInfo.rating.total}} ({{pageState.data.markup.markupInfo.rating.twoStarPercentage}} %)
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </td>
                  <td>
                    {{pageState.data.markup.markupInfo.threeStarCount}} / {{pageState.data.markup.markupInfo.rating.total}} ({{pageState.data.markup.markupInfo.rating.threeStarPercentage}} %)
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </td>
                  <td>
                    {{pageState.data.markup.markupInfo.fourStarCount}} / {{pageState.data.markup.markupInfo.rating.total}} ({{pageState.data.markup.markupInfo.rating.fourStarPercentage}} %)
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </td>
                  <td>
                    {{pageState.data.markup.markupInfo.fiveStarCount}} / {{pageState.data.markup.markupInfo.rating.total}} ({{pageState.data.markup.markupInfo.rating.fiveStarPercentage}} %)
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12">
      <app-slide [markupId]="pageState.data.markup.markupInfo.id"></app-slide>
    </div>
    <div class="col-xs-12">
      <app-gallery ></app-gallery>
    </div>

  </div>


</div>