<!DOCTYPE html>

<html lang="en-US" itemscope="" itemtype="http://schema.org/WebPage" class="nlg-loaded">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Content/css/ef542.css" media="all">
    <title>VnstyleTatoo</title>
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    
    <script type="text/javascript" src="~/Content/js/be44a.js"></script>
    <script type="text/javascript" src="~/Content/js/118e1.js"></script>
    <script type="text/javascript" src="~/Content/js/c4be6.js"></script>
    <link rel="stylesheet" type="text/css" id="gravatar-card-css" href="~/Content/css/hovercard.css">
    <link rel="stylesheet" type="text/css" id="gravatar-card-services-css" href="~/Content/css/services.css">
    <link rel="stylesheet" type="text/css" id="fit-vids-style" href="~/Content/css/video.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/fonts.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>

<body class="home-page home page-template page-template-page-sections page-template-page-sections-php page page-id-234 nlg-body nlg-header-style-a nlg-has-top-bar nlg-header-sticky js">

    <header class="nlg-header" style="top: -165px;">
        <div class="nlg-header-wrap">
            <div class="nlg-top-bar nlg-top-bar-dark">
                <div class="container">
                    <ul id="menu-top-bar-menu" class="nlg-top-left-menu nlg-top-bar-menu">
                        <li id="menu-item-278" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-278">
                            <a target="_blank" href="#">About Us</a>
                        </li>
                        <li id="menu-item-279" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-279">
                            <a target="_blank" href="#/">Support Center</a>
                        </li>
                        <li id="menu-item-280" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-280">
                            <a target="_blank" href="#">Purchase Now!</a>
                        </li>
                    </ul>
                    <ul id="menu-top-bar-menu-2" class="nlg-top-right-menu nlg-top-bar-menu">
                        <li id="menu-item-281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-281">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li id="menu-item-282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-282">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li id="menu-item-283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-283">
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li id="menu-item-284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-284">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- .container -->

            </div>
            <!-- .nlg-top-bar -->

            <div class="nlg-header-alt nlg-header-alt-light nlg-header-alt-balance">

                <div class="container">
                    <div class="nlg-header-brand">
                        <a href="#" rel="home">
                            <span class="nlg-logo nlg-main-logo">
                                <img width="278" height="48" src="~/Content/images/logo-big-light.png" class="nlg-logo-img nlg-logo-img-light attachment-full size-full lazyload agg-fade-in" alt="logo-big-light">
                                <img width="278" height="48" src="~/Content/images/logo-big-dark.png" class="nlg-logo-img nlg-logo-img-dark attachment-full size-full agg-fade-in lazyloaded" alt="logo-big-dark">
                            </span>
                        </a>
                    </div>
                    <!-- .nlg-header-brand -->
                    <div class="nlg-header-bn-wrap nlg-header-bn-lg">
                        <a href="#">
                            <img src="~/Content/images/newslog-hbn-1.png" width="728" height="90" alt="#">
                        </a>
                    </div>
                </div>
                <!-- .container -->

            </div>
            <!-- .nlg-header-alt -->

            <div class="nlg-menu-bar nlg-menu-bar-light nlg-mega-menu-light nlg-sub-menu-light nlg-hide-logo-ns">
                <div class="container">

                    <div class="nlg-header-brand">
                        <a href="#" rel="home">
                            <span class="nlg-logo nlg-sticky-logo">
                                <img width="278" height="48" src="~/Content/images/logo-big-light.png" class="nlg-logo-img nlg-logo-img-light attachment-full size-full lazyload agg-fade-in" alt="logo-big-light">
                                <img width="278" height="48" src="~/Content/images/logo-big-dark.png" class="nlg-logo-img nlg-logo-img-dark attachment-full size-full lazyload agg-fade-in" alt="logo-big-dark">
                            </span>
                            <span class="nlg-logo nlg-mobile-logo">
                                <img width="278" height="48" src="~/Content/images/logo-big-light.png" class="nlg-logo-img nlg-logo-img-light attachment-full size-full lazyload agg-fade-in" alt="logo-big-light">
                                <img width="278" height="48" src="~/Content/images/logo-big-dark.png" class="nlg-logo-img nlg-logo-img-dark attachment-full size-full lazyload agg-fade-in" alt="logo-big-dark">
                            </span>
                        </a>
                    </div>
                    <!-- .nlg-header-brand -->
                    <nav class="nlg-main-navigation">
                        <ul id="menu-main-menu" class="nlg-nav-menu">
                            <li id="menu-item-678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-234 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-678">
                                <a href="#">Homepages</a>
                                <div class="nlg-links-menu nlg-menu-drop">
                                    <ul class="sub-menu">
                                        <li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-234 current_page_item menu-item-292">
                                            <a href="#">Demo Homepage</a>
                                        </li>
                                        <li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-293">
                                            <a href="#">Full Screen Home</a>
                                        </li>
                                        <li id="menu-item-350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                                            <a href="#">Full Screen Slider Home</a>
                                        </li>
                                        <li id="menu-item-349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-349">
                                            <a href="#">No Sidebar Home</a>
                                        </li>
                                        <li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-348">
                                            <a href="#">Infinite Scroll Home</a>
                                        </li>
                                        <li id="menu-item-315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-315">
                                            <a href="#">Simple Blog Styles</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-354" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-354">
                                                    <a href="#">Simple One</a>
                                                </li>
                                                <li id="menu-item-353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353">
                                                    <a href="#">Simple Two</a>
                                                </li>
                                                <li id="menu-item-352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-352"><a href="http://demo.aggressivemotions.com/newslog/simple-three/">Simple Three</a></li>
                                                <li id="menu-item-351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351"><a href="http://demo.aggressivemotions.com/newslog/simple-four/">Simple Four</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9">
                                <a href="#">Post Examples</a>
                                <div class="nlg-links-menu nlg-menu-drop">
                                    <ul class="sub-menu">
                                        <li id="menu-item-295" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-295">
                                            <a href="#">Classic Post</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-521" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-521"><a href="http://demo.aggressivemotions.com/newslog/6-things-you-should-know-when-youre-planning-to-move-with-pets/">Post Title On Image</a></li>
                                                <li id="menu-item-522" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-522"><a href="http://demo.aggressivemotions.com/newslog/natural-breast-enhancement-how-to-make-breasts-bigger/">Post Title Above Image</a></li>
                                                <li id="menu-item-523" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-523"><a href="http://demo.aggressivemotions.com/newslog/bitter-gourd-juice-benefits-for-health-in-diabetes/">Post Title Under Image</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-296" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-296">
                                            <a href="#">Standard Post</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-528" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-528"><a href="http://demo.aggressivemotions.com/newslog/24-underrated-tourist-attractions-you-need-to-see-instead-of-the-usual-ones/">Post Title On Image</a></li>
                                                <li id="menu-item-529" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-529"><a href="http://demo.aggressivemotions.com/newslog/bad-credit-loans-will-punch-your-bad-credit-history-and-offers-plush-effect/">Post Title Under Image</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-298" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-298"><a href="http://demo.aggressivemotions.com/newslog/how-to-control-blood-pressure-and-reduce-hypertension-naturally/">Parallax Story Post</a></li>
                                        <li id="menu-item-299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-299">
                                            <a href="#">Full Screen Post</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-525"><a href="http://demo.aggressivemotions.com/newslog/used-electronic-cigarette-to-quitting-smoking-habit/">Post Title On Image</a></li>
                                                <li id="menu-item-524" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-524"><a href="http://demo.aggressivemotions.com/newslog/natural-sleep-aid-supplements-to-get-relief-from-insomnia-effectively/">Post Title Under Image</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-300">
                                            <a href="#">Screen Width Post</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-526"><a href="http://demo.aggressivemotions.com/newslog/now-anyone-easily-do-cheating-with-spy-bluetooth-earpiece/">Post Title On Image</a></li>
                                                <li id="menu-item-527" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-527"><a href="http://demo.aggressivemotions.com/newslog/feel-like-a-pro-by-using-the-best-catering-services-in-philly/">Post Title Under Image</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-297"><a href="http://demo.aggressivemotions.com/newslog/photo-booth-rental-take-fun-to-the-next-level-at-any-event/">Modern / No Sidebar Post</a></li>
                                        <li id="menu-item-301" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-301">
                                            <a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/">Video Post</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-713" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-713"><a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/?fimg=cl">Classic</a></li>
                                                <li id="menu-item-712" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-712"><a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/?fimg=fw">Full Width</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-302" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-302"><a href="http://demo.aggressivemotions.com/newslog/confused-about-a-hangout-place-for-one-day-outing/">Audio Post</a></li>
                                        <li id="menu-item-303" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-303"><a href="http://demo.aggressivemotions.com/newslog/photo-booth-rental-take-fun-to-the-next-level-at-any-event/">Gallery Post</a></li>
                                        <li id="menu-item-304" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-304"><a href="http://demo.aggressivemotions.com/newslog/make-your-napa-valley-wine-tour-an-unforgettable-experience/">Paginated Post</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11">
                                <a href="http://demo.aggressivemotions.com/newslog/#">Headers</a>
                                <div class="nlg-links-menu nlg-menu-drop">
                                    <ul class="sub-menu">
                                        <li id="menu-item-491" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-491"><a href="http://demo.aggressivemotions.com/newslog/?h=a">Style A</a></li>
                                        <li id="menu-item-492" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-492"><a href="http://demo.aggressivemotions.com/newslog/?h=b">Style B</a></li>
                                        <li id="menu-item-518" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-518"><a href="http://demo.aggressivemotions.com/newslog/full-screen-slider-home/?h=e">Style C</a></li>
                                        <li id="menu-item-519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-519"><a href="http://demo.aggressivemotions.com/newslog/no-sidebar-home/?h=f">Style D</a></li>
                                        <li id="menu-item-493" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-493"><a href="http://demo.aggressivemotions.com/newslog/simple-one/?h=c">Style E</a></li>
                                        <li id="menu-item-494" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-494"><a href="http://demo.aggressivemotions.com/newslog/simple-three/?h=d">Style F</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12">
                                <a href="http://demo.aggressivemotions.com/newslog/#">Extras</a>
                                <div class="nlg-links-menu nlg-menu-drop">
                                    <ul class="sub-menu">
                                        <li id="menu-item-307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-307"><a href="http://demo.aggressivemotions.com/newslog/author/admin/">Author’s Posts</a></li>
                                        <li id="menu-item-308" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-308"><a href="http://demo.aggressivemotions.com/newslog/contact">Contact Page</a></li>
                                        <li id="menu-item-309" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-309"><a href="http://demo.aggressivemotions.com/newslog/404">404 Page</a></li>
                                        <li id="menu-item-310" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-310"><a href="http://demo.aggressivemotions.com/newslog/widgets/">Widgets</a></li>
                                        <li id="menu-item-311" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-311"><a href="http://demo.aggressivemotions.com/newslog/2017/04/">Date Archive</a></li>
                                        <li id="menu-item-312" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-312"><a href="http://demo.aggressivemotions.com/newslog/?s=good">Search Results</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-511 menu-item-mega-menu">
                                <a href="http://demo.aggressivemotions.com/newslog/category/self-help/" data-cat="28">Mega Menu</a>
                                <div class="nlg-mega-menu nlg-menu-drop">
                                    <div class="nlg-module nlg-module-grid-posts nlg-mm-posts">

                                        <div class="container">


                                            <div class="nlg-module-header">

                                                <div class="nlg-module-title">
                                                    <h2 class="nlg-title">Self Help</h2>
                                                    <div class="nlg-actions"><a href="#">See All</a></div>
                                                </div>


                                            </div>


                                            <div class="nlg-col-wrap nlg-col-3">
                                                <div class="nlg-col">

                                                    <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-459 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-music tag-self-help"
                                                             style="padding-top: 0px;">

                                                        <figure class="nlg-featured-media">

                                                            <a href="#">
                                                                <img width="350" height="231" src="~/Content/images/16.jpg" class="attachment-nlg-350-231 size-nlg-350-231 agg-fade-in lazyloaded" alt="16" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?zoom=3&amp;resize=350%2C231 1050w" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/16.jpg?zoom=3&amp;resize=350%2C231 1050w">
                                                            </a>

                                                            <div class="nlg-entry-flags">
                                                            </div>


                                                        </figure>

                                                        <div class="nlg-entry-body">

                                                            <ul class="nlg-entry-meta first no-spacing">
                                                                <li class="nlg-byline">
                                                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                                        <a href="http://demo.aggressivemotions.com/newslog/author/isabelle/" rel="author"><span itemprop="author">Isabella Diana</span></a>
                                                                    </span>
                                                                </li>
                                                                <li class="nlg-date">
                                                                    on
                                                                    <a href="http://demo.aggressivemotions.com/newslog/music-the-perfect-remedy-to-a-long-tiring-day/">
                                                                        <time datetime="2017-04-18T17:14:29+00:00" title="April 18, 2017 5:14 pm">April 18, 2017</time>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                            <header class="nlg-entry-header">

                                                                <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/music-the-perfect-remedy-to-a-long-tiring-day/">Music… The Perfect Remedy To A Long &amp; Tiring Day</a></h3>



                                                            </header>

                                                        </div>

                                                    </article>

                                                </div>
                                                <div class="nlg-col">

                                                    <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-415 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-movie tag-self-help"
                                                             style="padding-top: 0px;">

                                                        <figure class="nlg-featured-media">

                                                            <a href="http://demo.aggressivemotions.com/newslog/download-and-enjoy-your-favorite-movies-by-downloading-them-against-a-click/">
                                                                <img width="350" height="231" data-src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=350%2C231" src="./Newslog – Clean &amp; Modern, Blog, News &amp; Magazine WordPress Theme_files/81.jpg" class="attachment-nlg-350-231 size-nlg-350-231 agg-fade-in lazyloaded" alt="81" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?zoom=3&amp;resize=350%2C231 1050w" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?zoom=3&amp;resize=350%2C231 1050w">
                                                            </a>

                                                            <div class="nlg-entry-flags">
                                                            </div>


                                                        </figure>

                                                        <div class="nlg-entry-body">

                                                            <ul class="nlg-entry-meta first no-spacing">
                                                                <li class="nlg-byline">
                                                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                                        <a href="http://demo.aggressivemotions.com/newslog/author/isabelle/" rel="author"><span itemprop="author">Isabella Diana</span></a>
                                                                    </span>
                                                                </li>
                                                                <li class="nlg-date">
                                                                    on
                                                                    <a href="http://demo.aggressivemotions.com/newslog/download-and-enjoy-your-favorite-movies-by-downloading-them-against-a-click/">
                                                                        <time datetime="2017-04-18T14:50:13+00:00" title="April 18, 2017 2:50 pm">April 18, 2017</time>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                            <header class="nlg-entry-header">

                                                                <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/download-and-enjoy-your-favorite-movies-by-downloading-them-against-a-click/">Download and Enjoy Your Favorite Movies By Downloading Them Against A Click</a></h3>



                                                            </header>

                                                        </div>

                                                    </article>

                                                </div>
                                                <div class="nlg-col">

                                                    <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-413 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-brazilian tag-music"
                                                             style="padding-top: 0px;">

                                                        <figure class="nlg-featured-media">

                                                            <a href="http://demo.aggressivemotions.com/newslog/brazilian-human-hair-extensions-womens-shortcut-to-glam/">
                                                                <img width="350" height="231" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=350%2C231" src="./Newslog – Clean &amp; Modern, Blog, News &amp; Magazine WordPress Theme_files/86.jpg" class="attachment-nlg-350-231 size-nlg-350-231 agg-fade-in lazyloaded" alt="86" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=730%2C482 730w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=1440%2C950 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?zoom=3&amp;resize=350%2C231 1050w" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px" srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=730%2C482 730w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=1440%2C950 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?zoom=3&amp;resize=350%2C231 1050w">
                                                            </a>

                                                            <div class="nlg-entry-flags">
                                                            </div>


                                                        </figure>

                                                        <div class="nlg-entry-body">

                                                            <ul class="nlg-entry-meta first no-spacing">
                                                                <li class="nlg-byline">
                                                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                                        <a href="http://demo.aggressivemotions.com/newslog/author/isabelle/" rel="author"><span itemprop="author">Isabella Diana</span></a>
                                                                    </span>
                                                                </li>
                                                                <li class="nlg-date">
                                                                    on
                                                                    <a href="http://demo.aggressivemotions.com/newslog/brazilian-human-hair-extensions-womens-shortcut-to-glam/">
                                                                        <time datetime="2017-04-18T14:45:45+00:00" title="April 18, 2017 2:45 pm">April 18, 2017</time>
                                                                    </a>
                                                                </li>
                                                            </ul>

                                                            <header class="nlg-entry-header">

                                                                <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/brazilian-human-hair-extensions-womens-shortcut-to-glam/">Brazilian Human Hair Extensions Women’s Shortcut to Glam</a></h3>



                                                            </header>

                                                        </div>

                                                    </article>

                                                </div>
                                                <!--<span class="nlg-loader nlg-spinner"></span>-->
                                            </div>


                                        </div>

                                    </div>
                                    <ul class="sub-menu">
                                        <li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-509"><a href="http://demo.aggressivemotions.com/newslog/category/self-help/" data-cat="28">Self Help</a></li>
                                        <li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-508"><a href="http://demo.aggressivemotions.com/newslog/category/travel/" data-cat="70">Travel</a></li>
                                        <li id="menu-item-507" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-507"><a href="http://demo.aggressivemotions.com/newslog/category/life/" data-cat="3">Life</a></li>
                                        <li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-510"><a href="http://demo.aggressivemotions.com/newslog/category/health/" data-cat="38">Health</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="menu-item-287" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-287"><a href="http://demo.aggressivemotions.com/newslog/shortcodes/">Shortcodes</a></li>
                            <li id="menu-item-752" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-752"><a href="http://demo.aggressivemotions.com/newslog/shop/">Shop</a></li>
                            <li class="nlg-more menu-item-has-children nlg-hide"><a href="http://demo.aggressivemotions.com/newslog/#" class="nlg-link btn">More<i class="fa fa-angle-down"></i></a></li>
                        </ul>
                    </nav>
                    <ul class="nlg-actions">

                        <li class="nlg-action-search">
                            <button class="btn nlg-btn-search"><i class="fa fa-search"></i><i class="fa fa-times"></i></button>
                            <div class="nlg-search-form-wrap nlg-search-form-light">
                                <form role="search" class="search-form" method="get" action="#">
                                    <div class="input-group">
                                        <input type="text" name="s" class="form-control" autocomplete="off" placeholder="Search..." title="Search for:" value="">
                                        <span class="input-group-btn">
                                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <!-- .nlg-search-form-wrap -->
                        </li>

                        <li class="nlg-action-menu">
                            <button class="btn nlg-btn-menu"><i class="fa fa-navicon"></i></button>
                        </li>

                    </ul>
                    <!-- .nlg-actions -->

                </div>
                <!-- .container -->

            </div>
            <!-- .nlg-menu-bar -->

        </div>
        <!-- .nlg-header-wrap -->

    </header>
    <!-- .nlg-header -->

    <div class="nlg-sections-wrap">
        @RenderBody()
    </div>
    <!-- .nlg-sections-wrapper -->
    <footer class="nlg-footer nlg-footer-dark">
        <div class="nlg-footer-wrap">
            <div class="container">
                <div class="nlg-footer-sidebars row">


                    <div class="nlg-col col-xs-12 col-md-6 col-lg-3">

                        <div class="nlg-footer-sidebar">
                            <div id="newslog-brand-box-3" class="sidebar-widget nlg-widget-brand-box">
                                <div class="nlg-brand-box">

                                    <div class="nlg-logo">
                                        <img src="~/Content/images/logo.png" alt="">
                                    </div>
                                    <p class="nlg-description">NewsLog, News &amp; Magazine Theme. Discover new blogging standards with 6 months free support!</p>
                                </div>
                                <!-- .nlg-author-card -->
                            </div>
                            <div id="newslog-social-icons-3" class="sidebar-widget nlg-widget-social-icons">
                                <ul class="nlg-social-icons nlg-social-brand-colors">
                                    <li class="nlg-icon-facebook">
                                        <a href="#" title="Facebook" target="_blank" style="background-color: #3b5998">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li class="nlg-icon-twitter">
                                        <a href="#" title="Twitter" target="_blank" style="background-color: #1da1f2">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li class="nlg-icon-foursquare">
                                        <a href="#" title="Foursquare" target="_blank" style="background-color: #f94877">
                                            <span class="fa fa-foursquare"></span>
                                        </a>
                                    </li>
                                    <li class="nlg-icon-pinterest">
                                        <a href="#" title="Pinterest" target="_blank" style="background-color: #bd081c">
                                            <span class="fa fa-pinterest"></span>
                                        </a>
                                    </li>
                                    <li class="nlg-icon-instagram">
                                        <a href="#" title="Instagram" target="_blank" style="background-color: #c13584">
                                            <span class="fa fa-instagram"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- .nlg-footer-sidebars -->

                    </div>
                    <!-- .nlg-col -->


                    <div class="nlg-col col-xs-12 col-md-6 col-lg-3">

                        <div class="nlg-footer-sidebar">
                            <div id="mc4wp_form_widget-3" class="sidebar-widget widget_mc4wp_form_widget">
                                <div class="widget-title">
                                    <h2 class="title">Newsletter</h2>
                                </div>
                                <div class="nlg-mc4wp-wrap">
                                    <p class="nlg-mc4wp-title-subline">SUBSCRIBE TO OUR</p>
                                    <h2 class="nlg-mc4wp-title">Newsletter</h2>
                                    <p class="nlg-mc4wp-description">TO BE UPDATED WITH ALL THE LATEST TRENDS AND PRODUCTS</p>
                                    <script type="text/javascript">
                                        (function () {
                                            if (!window.mc4wp) {
                                                window.mc4wp = {
                                                    listeners: [],
                                                    forms: {
                                                        on: function (event, callback) {
                                                            window.mc4wp.listeners.push({
                                                                event: event,
                                                                callback: callback
                                                            });
                                                        }
                                                    }
                                                }
                                            }
                                        })();
                                    </script>
                                    <!-- MailChimp for WordPress v4.1.1 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                    <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-319" method="post" data-id="319" data-name="SignUp Form">
                                        <div class="mc4wp-form-fields">
                                            <p>
                                                <input type="email" name="EMAIL" placeholder="Your email address" required="">
                                                <button type="submit"><i class="fa fa-paper-plane"></i><span class="label">Subscribe</span></button>
                                            </p>
                                            <div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></div><input type="hidden"
                                                                                                                                                                         name="_mc4wp_timestamp" value="1494865106"><input type="hidden" name="_mc4wp_form_id" value="319"><input type="hidden"
                                                                                                                                                                                                                                                                                  name="_mc4wp_form_element_id" value="mc4wp-form-2">
                                        </div>
                                        <div class="mc4wp-response"></div>
                                    </form>
                                    <!-- / MailChimp for WordPress Plugin -->
                                </div>
                            </div>
                        </div>
                        <!-- .nlg-footer-sidebars -->

                    </div>
                    <!-- .nlg-col -->


                    <div class="nlg-col col-xs-12 col-md-6 col-lg-3">

                        <div class="nlg-footer-sidebar">
                            <div id="nav_menu-2" class="sidebar-widget widget_nav_menu">
                                <div class="widget-title">
                                    <h2 class="title">Discover Newslog</h2>
                                </div>
                                <div class="menu-footer-menu-1-container">
                                    <ul id="menu-footer-menu-1" class="menu">
                                        <li id="menu-item-517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-234 current_page_item menu-item-517"><a href="http://demo.aggressivemotions.com/newslog/">Demo Homepage</a></li>
                                        <li id="menu-item-514" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514"><a href="http://demo.aggressivemotions.com/newslog/contact/">Contact</a></li>
                                        <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-516"><a target="_blank" href="https://www.aggressivemotions.com/">About Us</a></li>
                                        <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-513"><a target="_blank" href="https://themeforest.net/item/dortmund-clean-blog-magazine-wordpress-theme/19112795">Purchase Now</a></li>
                                        <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-515"><a target="_blank" href="http://docs.aggressivemotions.com/newslog/?ref=demo">Online Docs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- .nlg-footer-sidebars -->

                    </div>
                    <!-- .nlg-col -->


                    <div class="nlg-col col-xs-12 col-md-6 col-lg-3">

                        <div class="nlg-footer-sidebar">
                            <div id="text-4" class="sidebar-widget widget_text">
                                <div class="textwidget"><a href="http://demo.aggressivemotions.com/newslog/#"><img src="~/Content/images/100.jpg"></a></div>
                            </div>
                        </div>
                        <!-- .nlg-footer-sidebars -->

                    </div>
                    <!-- .nlg-col -->


                </div>
                <!-- .nlg-footer-sidebars -->

            </div>
            <!-- .container -->

        </div>
        <!-- .nlg-footer-wrap -->
    </footer>
    <!-- .nlg-footer -->
    @*<div id="nldemo-live-customizer">

            <div class="lc-toggle-btn">
                <span class="fa fa-cog"></span>
            </div>

            <div class="lc-wrapper">

                <div class="lc-inner">

                    <div class="lc-title">
                        <h3 class="title">Theme Styler</h3>
                    </div>

                    <div class="lc-body">

                        <div class="lc-section" data-option="top_bar_color_scheme">
                            <h4 class="title">Top Bar</h4>
                            <ul class="lc-options clearfix">
                                <li class="active"><span class="lc-opt" data-value="dark">Dark</span></li>
                                <li><span class="lc-opt" data-value="light">Light</span></li>
                            </ul>
                        </div>

                        <div class="lc-section" data-option="header_alt_color_scheme">
                            <h4 class="title">Logo/Ad Area</h4>
                            <ul class="lc-options clearfix">
                                <li><span class="lc-opt" data-value="dark">Dark</span></li>
                                <li class="active"><span class="lc-opt" data-value="light">Light</span></li>
                            </ul>
                        </div>

                        <div class="lc-section" data-option="menu_bar_color_scheme">
                            <h4 class="title">Menu Bar</h4>
                            <ul class="lc-options clearfix">
                                <li><span class="lc-opt" data-value="dark">Dark</span></li>
                                <li class="active"><span class="lc-opt" data-value="light">Light</span></li>
                            </ul>
                        </div>

                        <div class="lc-section" data-option="sub_menu_color_scheme">
                            <h4 class="title">Sub Menu</h4>
                            <ul class="lc-options clearfix">
                                <li><span class="lc-opt" data-value="dark">Dark</span></li>
                                <li class="active"><span class="lc-opt" data-value="light">Light</span></li>
                            </ul>
                        </div>

                        <div class="lc-section" data-option="mega_menu_color_scheme">
                            <h4 class="title">Mega Menu</h4>
                            <ul class="lc-options clearfix">
                                <li><span class="lc-opt" data-value="dark">Dark</span></li>
                                <li class="active"><span class="lc-opt" data-value="light">Light</span></li>
                            </ul>
                        </div>

                        <div class="lc-section" data-option="header_search_color_scheme">
                            <h4 class="title">Header Search Box</h4>
                            <ul class="lc-options clearfix">
                                <li><span class="lc-opt" data-value="dark">Dark</span></li>
                                <li class="active"><span class="lc-opt" data-value="light">Light</span></li>
                            </ul>
                        </div>

                    </div>
                    <!-- .lc-body -->

                </div>
                <!-- .lc-inner -->

            </div>
            <!-- .lc-wrapper -->

        </div>*@
    <div style="display:none">
    </div>
    <script type="text/javascript">
        (function () {
            function addEventListener(element, event, handler) {
                if (element.addEventListener) {
                    element.addEventListener(event, handler, false);
                } else if (element.attachEvent) {
                    element.attachEvent('on' + event, handler);
                }
            } function maybePrefixUrlField() {
                if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                    this.value = "http://" + this.value;
                }
            }

            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if (urlFields && urlFields.length > 0) {
                for (var j = 0; j < urlFields.length; j++) {
                    addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
                }
            }/* test if browser supports date fields */
            var testInput = document.createElement('input');
            testInput.setAttribute('type', 'date');
            if (testInput.type !== 'date') {

                /* add placeholder & pattern to all date fields */
                var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                for (var i = 0; i < dateFields.length; i++) {
                    if (!dateFields[i].placeholder) {
                        dateFields[i].placeholder = 'YYYY-MM-DD';
                    }
                    if (!dateFields[i].pattern) {
                        dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                    }
                }
            }

        })();
    </script>
    @*<script type="text/javascript">
            /* <![CDATA[ */ jQuery(document).ready(function () { jQuery.post("http://demo.aggressivemotions.com/newslog/wp-admin/admin-ajax.php", { action: "entry_views", _ajax_nonce: "f1c0edf425", post_id: 234 }); }); /* ]]> */
        </script>*@



    <script type="text/javascript" src="~/Content/js/c2d81.js"></script>

    @*<script type="text/javascript">

            var _wpcf7 = { "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } }, "cached": "1" };

        </script>*@
    <script type="text/javascript" src="~/Content/js/0201f.js"></script>

    <script type="text/javascript" src="~/Content/js/devicepx-jetpack.js"></script>



    <script type="text/javascript" src="~/Content/js/a6b1d.js"></script>

    @*<script type="text/javascript">
            /* <![CDATA[ */
            var woocommerce_params = { "ajax_url": "\/newslog\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/newslog\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
        </script>*@
    <script type="text/javascript" src="~/Content/js/3d1ee.js"></script>

    @*<script type="text/javascript">
            /* <![CDATA[ */
            var wc_cart_fragments_params = { "ajax_url": "\/newslog\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/newslog\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments" };
        /* ]]> */
        </script>*@
    <script type="text/javascript" src="~/Content/js/3d3e.4js"></script>

    <script type="text/javascript" src="~/Content/js/gprofiles.js"></script>
    @*<script type="text/javascript">
            /* <![CDATA[ */
            var WPGroHo = { "my_hash": "" };
        /* ]]> */
        </script>*@




    <script type="text/javascript" src="~/Content/js/wpgroho.js"></script>

    @*<script type="text/javascript">
            /* <![CDATA[ */
            var newslog_l10n = { "ajaxurl": "http:\/\/demo.aggressivemotions.com\/newslog\/wp-admin\/admin-ajax.php", "post_id": "234" };
        /* ]]> */
        </script>*@



    <script type="text/javascript" src="~/Content/js/9c79b.js"></script>

    @*<script type="text/javascript">
            /* <![CDATA[ */
            var jetpackCarouselStrings = { "widths": [370, 700, 1000, 1200, 1400, 2000], "is_logged_in": "", "lang": "en", "ajaxurl": "http:\/\/demo.aggressivemotions.com\/newslog\/wp-admin\/admin-ajax.php", "nonce": "60b33f493f", "display_exif": "1", "display_geo": "1", "single_image_gallery": "1", "single_image_gallery_media_file": "", "background_color": "black", "comment": "Comment", "post_comment": "Post Comment", "write_comment": "Write a Comment...", "loading_comments": "Loading Comments...", "download_original": "View full size <span class=\"photo-size\">{0}<span class=\"photo-size-times\">\u00d7<\/span>{1}<\/span>", "no_comment_text": "Please be sure to submit some text with your comment.", "no_comment_email": "Please provide an email address to comment.", "no_comment_author": "Please provide your name to comment.", "comment_post_error": "Sorry, but there was an error posting your comment. Please try again later.", "comment_approved": "Your comment was approved.", "comment_unapproved": "Your comment is in moderation.", "camera": "Camera", "aperture": "Aperture", "shutter_speed": "Shutter Speed", "focal_length": "Focal Length", "copyright": "Copyright", "comment_registration": "0", "require_name_email": "1", "login_url": "http:\/\/demo.aggressivemotions.com\/newslog\/wp-login.php?redirect_to=http%3A%2F%2Fdemo.aggressivemotions.com%2Fnewslog%2F5-reasons-you-need-a-backbone-to-divorce%2F", "blog_id": "1", "meta_data": ["camera", "aperture", "shutter_speed", "focal_length", "copyright"], "local_comments_commenting_as": "<fieldset><label for=\"email\">Email (Required)<\/label> <input type=\"text\" name=\"email\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-email-field\" \/><\/fieldset><fieldset><label for=\"author\">Name (Required)<\/label> <input type=\"text\" name=\"author\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-author-field\" \/><\/fieldset><fieldset><label for=\"url\">Website<\/label> <input type=\"text\" name=\"url\" class=\"jp-carousel-comment-form-field jp-carousel-comment-form-text-field\" id=\"jp-carousel-comment-form-url-field\" \/><\/fieldset>" };
        /* ]]> */
        </script>*@
    <script type="text/javascript" src="~/Content/js/65c1b.js"></script>

    @*<script type="text/javascript">
            /* <![CDATA[ */
            var mc4wp_forms_config = [];
        /* ]]> */*@
    </script>
    <script type="text/javascript" src="~/Content/js/28c3e.js"></script>

    <!--[if lte IE 9]>
    <script type='text/javascript' src='http://demo.aggressivemotions.com/newslog/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.1.1'></script>
    <![endif]-->
    <div class="nlg-mobile-panel">
        <div class="nlg-inner">

            <div class="nlg-panel-close">
                <button class="btn nlg-btn-panel-close"><i class="fa fa-times"></i></button>
            </div>
            <nav class="nlg-main-navigation">
                <ul id="menu-mobile-menu" class="nlg-nav-menu">
                    <li id="menu-item-668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-234 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-668">
                        <a href="http://demo.aggressivemotions.com/newslog/">Homepages</a>
                        <ul class="sub-menu">
                            <li id="menu-item-679" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-234 current_page_item menu-item-679"><a href="http://demo.aggressivemotions.com/newslog/">Demo Homepage</a></li>
                            <li id="menu-item-670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-670"><a href="http://demo.aggressivemotions.com/newslog/fullscreen-home/">Full Screen Home</a></li>
                            <li id="menu-item-669" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-669"><a href="http://demo.aggressivemotions.com/newslog/full-screen-slider-home/">Full Screen Slider Home</a></li>
                            <li id="menu-item-672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-672"><a href="http://demo.aggressivemotions.com/newslog/no-sidebar-home/">No Sidebar Home</a></li>
                            <li id="menu-item-671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-671"><a href="http://demo.aggressivemotions.com/newslog/infinite-scroll-home/">Infinite Scroll Home</a></li>
                            <li id="menu-item-680" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-680">
                                <a href="http://demo.aggressivemotions.com/newslog/#">Simple Blog Styles</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-675" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-675"><a href="http://demo.aggressivemotions.com/newslog/simple-one/">Simple One</a></li>
                                    <li id="menu-item-677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-677"><a href="http://demo.aggressivemotions.com/newslog/simple-two/">Simple Two</a></li>
                                    <li id="menu-item-676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"><a href="http://demo.aggressivemotions.com/newslog/simple-three/">Simple Three</a></li>
                                    <li id="menu-item-674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-674"><a href="http://demo.aggressivemotions.com/newslog/simple-four/">Simple Four</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-681" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-681">
                        <a href="http://demo.aggressivemotions.com/newslog/#">Post Examples</a>
                        <ul class="sub-menu">
                            <li id="menu-item-682" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-682">
                                <a href="http://demo.aggressivemotions.com/newslog/6-things-you-should-know-when-youre-planning-to-move-with-pets/">Standard Post</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-683" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-683"><a href="http://demo.aggressivemotions.com/newslog/6-things-you-should-know-when-youre-planning-to-move-with-pets/">Post Title On Image</a></li>
                                    <li id="menu-item-684" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-684"><a href="http://demo.aggressivemotions.com/newslog/natural-breast-enhancement-how-to-make-breasts-bigger/">Post Title Above Image</a></li>
                                    <li id="menu-item-685" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-685"><a href="http://demo.aggressivemotions.com/newslog/bitter-gourd-juice-benefits-for-health-in-diabetes/">Post Title Under Image</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-686" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-686"><a href="http://demo.aggressivemotions.com/newslog/how-to-control-blood-pressure-and-reduce-hypertension-naturally/">Parallax Story Post</a></li>
                            <li id="menu-item-687" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-687">
                                <a href="http://demo.aggressivemotions.com/newslog/used-electronic-cigarette-to-quitting-smoking-habit/">Full Screen Post</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-688" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-688"><a href="http://demo.aggressivemotions.com/newslog/used-electronic-cigarette-to-quitting-smoking-habit/">Post Title On Image</a></li>
                                    <li id="menu-item-689" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-689"><a href="http://demo.aggressivemotions.com/newslog/feel-like-a-pro-by-using-the-best-catering-services-in-philly/">Post Title Under Image</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-690" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-690">
                                <a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/">Video Post</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-710" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-710"><a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/?fimg=cl">Classic</a></li>
                                    <li id="menu-item-711" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-711"><a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/?fimg=fw">Full Width</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-691" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-691"><a href="http://demo.aggressivemotions.com/newslog/confused-about-a-hangout-place-for-one-day-outing/">Audio Post</a></li>
                            <li id="menu-item-692" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-692"><a href="http://demo.aggressivemotions.com/newslog/photo-booth-rental-take-fun-to-the-next-level-at-any-event/">Gallery Post</a></li>
                            <li id="menu-item-693" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-693"><a href="http://demo.aggressivemotions.com/newslog/make-your-napa-valley-wine-tour-an-unforgettable-experience/">Paginated Post</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-694" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-694">
                        <a href="http://demo.aggressivemotions.com/newslog/#">Headers</a>
                        <ul class="sub-menu">
                            <li id="menu-item-695" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-695"><a href="http://demo.aggressivemotions.com/newslog/?h=a">Style A</a></li>
                            <li id="menu-item-696" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-696"><a href="http://demo.aggressivemotions.com/newslog/?h=b">Style B</a></li>
                            <li id="menu-item-697" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-697"><a href="http://demo.aggressivemotions.com/newslog/full-screen-slider-home/?h=e">Style C</a></li>
                            <li id="menu-item-698" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-698"><a href="http://demo.aggressivemotions.com/newslog/no-sidebar-home/?h=f">Style D</a></li>
                            <li id="menu-item-699" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-699"><a href="http://demo.aggressivemotions.com/newslog/simple-one/?h=c">Style E</a></li>
                            <li id="menu-item-700" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-700"><a href="http://demo.aggressivemotions.com/newslog/simple-three/?h=d">Style F</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-701" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-701">
                        <a href="http://demo.aggressivemotions.com/newslog/#">Extras</a>
                        <ul class="sub-menu">
                            <li id="menu-item-702" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-702"><a href="http://demo.aggressivemotions.com/newslog/author/admin/">Author’s Posts</a></li>
                            <li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-703"><a href="http://demo.aggressivemotions.com/newslog/contact">Contact Page</a></li>
                            <li id="menu-item-704" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-704"><a href="http://demo.aggressivemotions.com/newslog/404">404 Page</a></li>
                            <li id="menu-item-705" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-705"><a href="http://demo.aggressivemotions.com/newslog/widgets/">Widgets</a></li>
                            <li id="menu-item-706" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-706"><a href="http://demo.aggressivemotions.com/newslog/2017/04/">Date Archive</a></li>
                            <li id="menu-item-707" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-707"><a href="http://demo.aggressivemotions.com/newslog/?s=good">Search Results</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-708" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-708"><a href="http://demo.aggressivemotions.com/newslog/shortcodes/">Shortcodes</a></li>
                    <li id="menu-item-751" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-751"><a href="http://demo.aggressivemotions.com/newslog/shop/">Shop</a></li>
                </ul>
            </nav>
        </div>
        <!-- .nlg-inner -->
    </div>
    <!-- .nlg-mobile-panel -->
    <script type="text/javascript" src="~/Content/js/e-201720.js" async="" defer=""></script>



    @*<img src="~/Content/images/g.gif" alt=":)" width="6" height="5" id="wpstats">*@
</body>

</html>