<div class="row">
  <div class="col-xs-12">
    <app-picture-form-control [(ngModel)]="article.featureImage" [readonly]="!editArticleState.editing"></app-picture-form-control>

    <div class="form">
        <div class="form-group">            
          <app-r-icheck [(ngModel)]="article.isActive" [disabled]="!editArticleState.editing"></app-r-icheck>
          <span for="">Kích hoạt</span>
        </div>

        <div class="form-group">            
          <app-r-icheck [(ngModel)]="article.isShowHomepage" [disabled]="!editArticleState.editing"></app-r-icheck>
          <span for="">Hiển thị trang chủ</span>
        </div>
      </div>
  </div>
</div>