<div class="row">
  <div class="col-xs-12">
    <!--<app-spinner *ngIf="pageState.fetching" class="text-center"></app-spinner>-->
    <div class="portlet box blue-hoki" *ngIf="!pageState.fetching">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-image"></i>Gallery
        </div>
        <div class="actions">
          <a href="javascript:;" class="btn btn-default btn-sm" (click)="refreshSlide();">
          <i class="fa fa-refresh"></i> Refresh </a>
          <a href="javascript:;" class="btn btn-default btn-sm" (click)="browseFiles();">
          <i class="fa fa-plus"></i> Add </a>
        </div>
      </div>
      <div class="portlet-body">
        <!--<app-spinner *ngIf="galleryGridState.fetching" class="text-center"></app-spinner>-->
        <div class="row" *ngIf="!galleryGridState.fetching">
          <div class="col-xs-12 col-md-3" *ngFor="let pic of galleryGridState.data">
            <img src="{{pic.path}}?w=200&h=200" class="img-responsive" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="file" style="display: none" multiple #fileInput (change)="fileOnChanged($event)" />
</div>