<div class="row mr-top-15">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-map-marker"></i>Danh sách
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm" (click)="refreshMarkupGrid();">
                        <i class="fa fa-refresh" ></i> Refresh </a>
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th style="width: 40px">No.</th>
                            <th>Name</th>
                            <th>Created date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr *ngFor="let item of gridState.data; let i = index; ">
                        <td>{{i + 1}}</td>                        
                        <td>[{{item.id}}] <a [routerLink]="['/markup/detail/' + item.id]">{{item.name}}</a></td>
                        <td>{{item.createdDate | date:'ddMMyyyy'}}</td>
                        <td>
                            <i class="clickable fa fa-trash fa-lg" (click)="deleteMarkup(item.id)"></i>
                        </td>
                    </tr>
                </table>
                <div>
                </div>
            </div>
        </div>
    </div>

</div>