<div class="row mr-top-15">
  <div class="" *ngIf="!pageState.initialized">
    <!--<app-spinner class="text-center"></app-spinner>-->
  </div>
  <div class="" *ngIf="pageState.initialized">
    <div class="col-xs-12">
      <div class="portlet box blue-hoki">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-map-marker"></i>Base Information
          </div>
          <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i> Edit </a>
          </div>
        </div>
        <div class="portlet-body form">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

<app-compose-article [languages]="languages" [article]="article"></app-compose-article>

<!-- <div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">Home</div>
    <div role="tabpanel" class="tab-pane" id="profile">Profile</div>
    <div role="tabpanel" class="tab-pane" id="messages">messages</div>
    <div role="tabpanel" class="tab-pane" id="settings">settings</div>
  </div>

</div> -->
