<div class="row mr-top-15">
  <div class="" *ngIf="!pageState.initialized">
    <!-- <app-spinner class="text-center"></app-spinner> -->
  </div>
  <div class="" *ngIf="pageState.initialized">

    <div class="">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <app-compose-article [languages]="languages" [article]="article"></app-compose-article>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div>
          <button class="btn btn-primary" (click)="saveArticle()">Save</button>
        </div>
      </div>
    </div>
    
  </div>


</div>


