<div class="row mr-top-15">
  <div class="" *ngIf="!pageState.initialized">
    <!-- <app-spinner class="text-center"></app-spinner> -->
  </div>
  <div class="" *ngIf="pageState.initialized">
    <div class="col-xs-12">
      <div class="portlet box blue-hoki">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-map-marker"></i>Base Information
          </div>
          <div class="actions">
            <a href="javascript:;" class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i> Edit </a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
              <app-compose-article [languages]="languages" [article]="article"></app-compose-article>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              sdf g 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
