<div class="row" *ngIf="!(!(selectedArticleLanguage))" style="margin-top: 15px">
  <div class="col-sm-12 col-md-8" *ngIf="!editArticleState.editing">

    <div class="row">
      <div class="col-xs-12">
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              {{selectedArticleLanguage.headLine}}
            </div>
          </div>
          <div class="portlet-body">
            <div>
              <div class="bold">
                {{selectedArticleLanguage.extract}}
              </div>

              <div [froalaView]="selectedArticleLanguage.content"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              SEO Meta
            </div>
          </div>
          <div class="portlet-body">
            <h3>Search Engine</h3>
            {{selectedArticleLanguage.metaTag.keywords}} {{selectedArticleLanguage.metaTag.description}}
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="portlet light">
          <div class="portlet-title">
            <div class="caption">
              Bài viết liên quan
            </div>
          </div>
          <div class="portlet-body">
            <table class="table table-tripped">
              <tr *ngFor="let art of releatedArticles.data;  let i = index">
                <td>{{art.headLine}}</td>
                <td class="text-right" style="width: 30px">
                  <a href="javascript:;" *ngIf="i > 0" (click)="swapRelatedArticle(art.id, releatedArticles.data[i - 1].id);"><i class="fa fa-arrow-up"></i></a>
                </td>
                <td class="text-right" style="width: 30px">
                  <a href="javascript:;" *ngIf="i < (releatedArticles.data.length - 1)" (click)="swapRelatedArticle(art.id, releatedArticles.data[i + 1].id);"><i class="fa fa-arrow-down"></i></a>
                </td>
                <td class="text-right" style="width: 50px">
                  <a href="javascript:;" (click)="removeRelatedArticle(art.id)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tfoot>
                <tr>

                  <td colspan="4">
                    <typeahead [list]="suggestRelatedArticles" [searchProperty]="'headLine'" [displayProperty]="'headLine'" [maxSuggestions]="10"
                      (suggestionSelected)="relatedArticleSelected($event)" placeholder="Search article">
                    </typeahead>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-8" *ngIf="editArticleState.editing">
    <div>
      <app-compose-article [languages]="languages" [article]="article"></app-compose-article>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="row">
      <div class="col-xs-12">
        <app-picture-form-control [(ngModel)]="article.featureImage" [readonly]="!editArticleState.editing"></app-picture-form-control>

        <div class="form">
            <div class="form-group">            
              <app-r-icheck [(ngModel)]="article.isActive" [disabled]="!editArticleState.editing"></app-r-icheck>
              <span for="">Kích hoạt</span>
            </div>
  
            <div class="form-group">            
              <app-r-icheck [(ngModel)]="article.isShowHomepage" [disabled]="!editArticleState.editing"></app-r-icheck>
              <span for="">Hiển thị trang chủ</span>
            </div>

            <div class="form-group">            
              <app-r-icheck [(ngModel)]="article.section1" [disabled]="!editArticleState.editing"></app-r-icheck>
              <span for="">Hiển thị Section 1</span>
            </div>
            <div class="form-group">            
              <app-r-icheck [(ngModel)]="article.section2" [disabled]="!editArticleState.editing"></app-r-icheck>
              <span for="">Hiển thị Section 2</span>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" *ngIf="!editArticleState.editing">
        <button class="btn btn-primary" (click)="editArticle();"><i class="fa fa-pencil"></i>  Chỉnh sửa</button>
        <button class="btn btn-danger" (click)="deleteArticle();"><i class="fa fa-trash"></i>  Xóa</button>
      </div>
      <div class="col-xs-12" *ngIf="editArticleState.editing">
        <button class="btn btn-primary" (click)="saveArticle();"><i class="fa fa-save"></i>  Lưu lại</button>
        <button class="btn btn-default" (click)="cancelEdit();"> Cancel</button>
      </div>
    </div>
    <div>Cate</div>
    <div>Function: Edit, Delete</div>
  </div>
</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
