<div class="row" *ngIf="!(!(selectedArticleLanguage))">
  <div class="col-sm-12 col-md-8">
    <div *ngIf="!editArticleState.editing">
      <h2 class="bold">{{selectedArticleLanguage.headLine}}</h2>
      <div class="bold">
        {{selectedArticleLanguage.extract}}
      </div>

      <div [froalaView]="selectedArticleLanguage.content"></div>

      <h3>Search Engine</h3>
      {{selectedArticleLanguage.metaTag.keywords}} {{selectedArticleLanguage.metaTag.description}}

    </div>

    <div *ngIf="editArticleState.editing">
      <app-compose-article [languages]="languages" [article]="article"></app-compose-article>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <table class="table table-tripped">
          <tr *ngFor="let i of releatedArticles.data">
            <td>{{i.headerLine}}</td>
          </tr>
          <tfoot>
            <tr>
              <td>
                <typeahead [(ngModel)]="selectedArticle" [list]="suggestRelatedArticles" [searchProperty]="'headLine'" [displayProperty]="'headLine'" [maxSuggestions]="10"
                  (suggestionSelected)="relatedArticleSelected($event)" placeholder="Search article">
                </typeahead>

                <p>You selected {{ fruitName }}</p>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="row">
      <div class="col-xs-12">
        <app-picture-form-control [(ngModel)]="article.featureImage" [readonly]="!editArticleState.editing"></app-picture-form-control>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" *ngIf="!editArticleState.editing">
        <button class="btn btn-primary" (click)="editArticle();"><i class="fa fa-pencil"></i>  Edit</button>
        <button class="btn btn-danger" (click)="deleteArticle();"><i class="fa fa-trash"></i>  Delete</button>
      </div>
      <div class="col-xs-12" *ngIf="editArticleState.editing">
        <button class="btn btn-primary" (click)="saveArticle();"><i class="fa fa-save"></i>  Save</button>
        <button class="btn btn-default" (click)="cancelEdit();"> Cancel</button>
      </div>
    </div>
    <div>Cate</div>
    <div>Function: Edit, Delete</div>
  </div>
</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
