@model Ricky.Infrastructure.Core.IPagedList<VnStyle.Services.Business.Models.ArticleModelView>
@using VnStyle.Web.Infrastructure.Helpers;
<div class="nlg-col-wrap nlg-col-5">
    @foreach (var article in Model)
    {
        <div class="nlg-col">
            <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-222 post type-post status-publish format-standard has-post-thumbnail hentry category-health tag-dermal tag-face tag-health" style="padding-top: 0px;">
                <figure class="nlg-featured-media">
                    <a href="#">
                        <img width="210" height="139" src="@article.UrlImage" class="attachment-nlg-210-139 size-nlg-210-139 agg-fade-in lazyloaded">
                    </a>
                    <div class="nlg-entry-flags">
                    </div>

                </figure>
                <div class="nlg-entry-body">
                    <header class="nlg-entry-header">
                        <h3 class="nlg-entry-title">
                            <a href="#">@article.Headline</a>
                        </h3>
                        <ul class="nlg-entry-meta"></ul>

                    </header>
                </div>
            </article>
        </div>
    }
    
    



    <!--<span class="nlg-loader nlg-spinner"></span>-->
</div>
