@model VnStyle.Services.Business.Models.ArticleDetailModel


<h2>@Model.HeadLine</h2>
<div class="fb-like" data-href="@Model.ArticleUrl" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

<div>@Html.Raw(Model.Content)</div>

<div>
    <h2>Bài viết liên quan</h2>
</div>



<div class="fb-comments" data-href="@Model.ArticleUrl" data-numposts="5"></div>