@model VnStyle.Services.Business.Models.ArticleDetailModel
@using VnStyle.Web.Infrastructure.Helpers;
<div class="nlg-module-header nlg-has-tax-nav">
    <div class="nlg-module-title">
        <h2 class="nlg-title">@Html.T("RootCate_Course")</h2>

    </div>

</div>
@Html.Action("ArticleViewer", Model)

<h2>Bài viết liên quan</h2>

@*<style>
    .item {
        border:1px solid red;
    }
</style>*@



@*<div class="row">
    <div class="col-xs-12">
        <div class="item">Col 1</div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div class="item">Col 2.1</div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="item">Col 2.2</div>
    </div>

  <div class="col-xs-4">
        <div class="item">Col 2.2</div>
    </div>
    
    <div class="col-xs-4">
        <div class="item">Col 2.2</div>
    </div>

    <div class="col-xs-4">
        <div class="item">Col 2.2</div>
    </div>

</div>*@