@using VnStyle.Web.Models.Home
@{
    var model = new ArticleViewerModelView
    {
        Headline = "Tiêu đề bài viết",
        Content = "Nội dung bài viêt"
    };
}
@Html.Action("ArticleViewer", model)

<h2>Bài viết liên quan</h2>