
@{
    ViewBag.Title = "DetailMovie";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="header-video">
               <h2>Title</h2>
            </div>
            <div class="content-video"></div>
            <div class="footer-video"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            @* List video *@
        </div>
    </div>
</div>

