<div class="nlg-sections-wrap">
    <div class="nlg-section nlg-section-singular nlg-section-header nlg-section-screen-width">
       
        <!-- .nlg-entry-header -->
    </div>
    <!-- .nlg-section --><span class="nlg-fimg-spacing"></span>
    <div class="nlg-section nlg-section-singular nlg-section-has-sidebar nlg-section-sidebar-right">

        <div class="container">

            <div class="nlg-main" role="main">

                <article class="nlg-entry">

                    
                    <div class="nlg-entry-content">
                        <div class="block_timer_share">
                            <div class="block_timer left txt_666" style="font: 400 11px arial;">
                                Thứ hai, 28/8/2017 | 11:32 GMT+7
                            </div>
                        </div>
                        <div class="title-news">
                            <h3>Do you run your day?</h3>
                        </div>                        
                        <p><strong>If you have a pre-determined purpose for working hard at something, your motivation will always be there to get things done.</strong></p>
                        <div class="relative_new">
                            <ul class="list_news_dot_3x3_300">
                                <li><a tabindex="1" href="http://vnexpress.net/tin-tuc/the-gioi/chu-tich-cuba-trao-tang-huan-chuong-cao-nhat-cho-chu-tich-nuoc-tran-dai-quang-3500660.html">Chủ tịch Cuba trao tặng huân chương cao nhất cho Chủ tịch nước Trần Đại Quang</a></li>                
                            </ul>
                        </div>
                        <p>
                            <img data-attachment-id="115" data-permalink="http://demo.aggressivemotions.com/newslog/be-early-and-get-the-winter-worm-for-the-2018-ski-season/attachment/89/"
                            data-orig-file="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?fit=1440%2C960"
                            data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="89" data-image-description="" data-medium-file="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?fit=300%2C200"
                            data-large-file="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?fit=1024%2C683"
                            class="wp-image-115 alignleft" src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=360%2C240"
                            alt="" srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=1024%2C683 1024w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=300%2C200 300w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=768%2C512 768w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?w=1440 1440w"
                            sizes="(max-width: 360px) 100vw, 360px" data-recalc-dims="1" />I believe in planning for
                            success and knowing that you are planning your days for maximum effectiveness to reach an
                            end goal, so I want to run through exactly what it means to plan for success, whether your
                            goal is to run a highly successful business, or build a great relationship with your family
                            there are things you need to do every day. Let&#8217;s take a look at what some of the most
                            successful people do to run their days to maximum effectiveness..
                        </p>
                        <p>
                            If you have a pre-determined purpose for working hard at something, your motivation will always
                            be there to get things done. Success isn&#8217;t a sprint, it&#8217;s a marathon.. if you
                            aren&#8217;t packing the right kind of mental attitude, generated from having a purpose,
                            you are going to fall at the first hurdle.
                        </p>
                        <div id="attachment_75" style="width: 740px" class="wp-caption aligncenter">
                            <img data-attachment-id="75" data-permalink="http://demo.aggressivemotions.com/newslog/be-early-and-get-the-winter-worm-for-the-2018-ski-season/attachment/49/"
                            data-orig-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?fit=1400%2C934"
                            data-orig-size="1400,934" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="49" data-image-description="" data-medium-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?fit=300%2C200"
                            data-large-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?fit=1024%2C683"
                            class="wp-image-75 size-large" src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?resize=730%2C487"
                            alt="" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?resize=1024%2C683 1024w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?resize=300%2C200 300w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?resize=768%2C512 768w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?w=1400 1400w"
                            sizes="(max-width: 730px) 100vw, 730px" data-recalc-dims="1" />
                            <p class="wp-caption-text">Have a pre-determined purpose!</p>
                        </div>
                        <p>
                            If the purpose of your change is to look good for the girls on the beach, or to look like all
                            the models on the covers of men&#8217;s health or women&#8217;s magazine, you&#8217;ve got
                            no fight and you&#8217;re going to drown.
                        </p>
                        <div class="nlg-tb-box nlg-tb-box-horizontal nlg-tb-box-align-none">
                            <p>
                                Have you seen post with full screen parallax featured image? NewsLog theme has plenty of
                                different built-in featured image choices. That’s awesome!
                            </p>
                            <a class="nlg-button" style="background-color:#141414;color:#fff" href="http://demo.aggressivemotions.com/newslog/how-to-control-blood-pressure-and-reduce-hypertension-naturally/">EXPLORE NOW</a>
                        </div>
                        <h3>Plan your day hour by hour</h3>
                        <p>
                            Sounds like hard work doesn&#8217;t it? Well guess what? Reality check it, it is hard! It&#8217;s
                            incredibly hard to plan your day and stick to it rigidly when so much can happen in 24 hours.
                            So many things change during the day and you are forced to adapt to those situations, but
                            it&#8217;s how you react to what happens that truly counts.
                        </p>
                        <ul>
                            <li>But if you are sitting down the night before and</li>
                            <li>Planning what you are going to do hour by hour</li>
                            <li>You give your day structure</li>
                            <li>You know what you have to do and you get it done.</li>
                        </ul>
                        <div class="tiled-gallery type-rectangular tiled-gallery-unresized" data-original-width="1110" data-carousel-extra='{&quot;blog_id&quot;:1,&quot;permalink&quot;:&quot;http:\/\/demo.aggressivemotions.com\/newslog\/5-reasons-you-need-a-backbone-to-divorce\/&quot;,&quot;likes_blog_id&quot;:127727788}'
                        itemscope itemtype="http://schema.org/ImageGallery">
                        <div class="gallery-row" style="width: 1110px; height: 509px;" data-original-width="1110" data-original-height="509">
                        <div class="gallery-group images-1" style="width: 731px; height: 509px;" data-original-width="731"
                        data-original-height="509">
                        <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia" itemscope
                        itemtype="http://schema.org/ImageObject">
                        <a href="http://demo.aggressivemotions.com/newslog/be-early-and-get-the-winter-worm-for-the-2018-ski-season/attachment/24/"
                        border="0" itemprop="url">
                        <meta itemprop="width" content="727">
                        <meta itemprop="height" content="505"> <img data-attachment-id="50" data-orig-file="http://demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/24.jpg"
                        data-orig-size="1440,1000" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                        data-image-title="24" data-image-description="" data-medium-file="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/24.jpg?fit=300%2C208"
                        data-large-file="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/24.jpg?fit=1024%2C711"
                        src="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/24.jpg?resize=727%2C505"
                        width="727" height="505" data-original-width="727" data-original-height="505"
                        itemprop="http://schema.org/image" title="24" alt="24" style="width: 727px; height: 505px;" />
                        </a>
                        </div>
                        </div>
                        <!-- close group -->
                        <div class="gallery-group images-2" style="width: 379px; height: 509px;" data-original-width="379"
                        data-original-height="509">
                        <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia" itemscope
                        itemtype="http://schema.org/ImageObject">
                        <a href="http://demo.aggressivemotions.com/newslog/photo-booth-rental-take-fun-to-the-next-level-at-any-event/attachment/111/"
                        border="0" itemprop="url">
                        <meta itemprop="width" content="375">
                        <meta itemprop="height" content="251"> <img data-attachment-id="137" data-orig-file="http://demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg"
                        data-orig-size="1440,961" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                        data-image-title="111" data-image-description="" data-medium-file="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg?fit=300%2C200"
                        data-large-file="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg?fit=1024%2C683"
                        src="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg?resize=375%2C251"
                        width="375" height="251" data-original-width="375" data-original-height="251"
                        itemprop="http://schema.org/image" title="111" alt="111" style="width: 375px; height: 251px;" />
                        </a>
                        </div>
                        <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia"
                        itemscope itemtype="http://schema.org/ImageObject">
                        <a href="http://demo.aggressivemotions.com/newslog/106/" border="0" itemprop="url">
                        <meta itemprop="width" content="375">
                        <meta itemprop="height" content="250"> <img data-attachment-id="132" data-orig-file="http://demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg"
                        data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                        data-image-title="106" data-image-description="" data-medium-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?fit=300%2C200"
                        data-large-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?fit=1024%2C683"
                        src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=375%2C250"
                        width="375" height="250" data-original-width="375" data-original-height="250"
                        itemprop="http://schema.org/image" title="106" alt="106" style="width: 375px; height: 250px;" />
                        </a>
                        </div>
                        </div>
                        <!-- close group -->
                        </div>
                        <!-- close row -->
                        <div class="gallery-row" style="width: 1110px; height: 371px;" data-original-width="1110"
                        data-original-height="371">
                        <div class="gallery-group images-1" style="width: 556px; height: 371px;" data-original-width="556"
                        data-original-height="371">
                        <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia" itemscope
                        itemtype="http://schema.org/ImageObject">
                        <a href="http://demo.aggressivemotions.com/newslog/81/" border="0" itemprop="url">
                        <meta itemprop="width" content="552">
                        <meta itemprop="height" content="367"> <img data-attachment-id="107" data-orig-file="http://demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg"
                        data-orig-size="1440,958" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                        data-image-title="81" data-image-description="" data-medium-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?fit=300%2C200"
                        data-large-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?fit=1024%2C681"
                        src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=552%2C367"
                        width="552" height="367" data-original-width="552" data-original-height="367"
                        itemprop="http://schema.org/image" title="81" alt="81" style="width: 552px; height: 367px;" />
                        </a>
                        </div>
                        </div>
                        <!-- close group -->
                        <div class="gallery-group images-1" style="width: 554px; height: 371px;" data-original-width="554"
                        data-original-height="371">
                        <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia" itemscope
                        itemtype="http://schema.org/ImageObject">
                        <a href="http://demo.aggressivemotions.com/newslog/48/" border="0" itemprop="url">
                        <meta itemprop="width" content="550">
                        <meta itemprop="height" content="367"> <img data-attachment-id="74" data-orig-file="http://demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/48.jpg"
                        data-orig-size="1400,934" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                        data-image-title="48" data-image-description="" data-medium-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/48.jpg?fit=300%2C200"
                        data-large-file="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/48.jpg?fit=1024%2C683"
                        src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/48.jpg?resize=550%2C367"
                        width="550" height="367" data-original-width="550" data-original-height="367"
                        itemprop="http://schema.org/image" title="48" alt="48" style="width: 550px; height: 367px;" />
                        </a>
                        </div>
                        </div>
                        <!-- close group -->
                        </div>
                        <!-- close row -->
                        </div>
                        <p>
                            Sit down and write out all of the things that you need to do, the daily activities and the odd
                            things that crop up too, work related and personal, then pencil them into your diary when
                            you are going to complete those tasks. If you don&#8217;t get everything done that&#8217;s
                            absolutely fine, I don&#8217;t always get everything completed when I say I&#8217;m going
                            to complete it but I make a note of what needs to be followed up on, then I can simply slot
                            it into the next day and get it finished then.
                        </p>
                        <blockquote>
                            <p>
                                Plan your day or I promise you now, your day will run you and you&#8217;ll have nothing to
                                show for it.
                            </p>
                        </blockquote>
                        <p>
                            You know it is strangely liberating writing down everything that you did during the day and everything
                            that happened, maybe it&#8217;s just me but it makes me feel like I am unloading all of the
                            stress of the day and reflecting on all of the good things that happened too.
                        </p>
                        <h4>Keep a journal</h4>
                        <p>
                            By writing down the events of the day, you can track your efforts and determine where you could
                            have spent more time being productive, determine what works and what doesn&#8217;t and tweak
                            things so that you become more effective in your daily efforts.
                        </p>
                        <p>
                            <iframe src="https://www.youtube.com/embed/Qvcx7Y4caQE" width="560" height="315" frameborder="0"
                                    allowfullscreen="allowfullscreen"></iframe>
                        </p>
                        <p>
                            Keeping a journal also helps you become more grateful for everything too, as you can reflect
                            on and appreciate all of the good things that happened and believe me, everyone can find
                            some good in their days, even if it doesn&#8217;t seem that way at first glance.
                        </p>
                        <div class="sharedaddy sd-sharing-enabled">
                            <div class="robots-nocontent sd-block sd-social sd-social-official sd-sharing">
                                <h3 class="sd-title">Share this:</h3>
                                <div class="sd-content">
                                    <ul>
                                        <li class="share-facebook">
                                            <div class="fb-share-button" data-href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/"
                                            data-layout="button_count"></div>
                                        </li>
                                        <li class="share-twitter">
                                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/"
                                            data-text="5 Reasons You Need a Backbone to Divorce">Tweet</a>
                                        </li>
                                        <li class="share-linkedin">
                                            <div class="linkedin_button">
                                                <script type="in/share" data-url="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/"
                                                        data-counter="right">
                                                </script>
                                            </div>
                                        </li>
                                        <li class="share-jetpack-whatsapp">
                                            <a rel="nofollow" data-shared="" class="share-jetpack-whatsapp sd-button" href="whatsapp://send?text=5%20Reasons%20You%20Need%20a%20Backbone%20to%20Divorce http%3A%2F%2Fdemo.aggressivemotions.com%2Fnewslog%2F5-reasons-you-need-a-backbone-to-divorce%2F"
                                            target="_blank" title="Click to share on WhatsApp"><span>WhatsApp</span></a>
                                        </li>
                                        <li class="share-google-plus-1">
                                        <div class="googleplus1_button">
                                        <div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/"></div>
                                        </div>
                                        </li>
                                        <li class="share-end"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .nlg-entry-content -->

                    <div class="nlg-pagination nlg-pagination-prevnext">
                        <a href="http://demo.aggressivemotions.com/newslog/used-electronic-cigarette-to-quitting-smoking-habit/"
                        rel="prev"><span class="fa fa-chevron-left"></span>Previous Post</a><a href="http://demo.aggressivemotions.com/newslog/your-home-as-a-guide-to-self-improvement/"
                        rel="next">Next Post<span class="fa fa-chevron-right"></span></a>
                    </div>
                    <div class="nlg-entry-tags">
                        <span class="nlg-label">Tags:</span>
                        <div class="nlg-tags">
                            <a href="http://demo.aggressivemotions.com/newslog/tag/relationship/">relationship</a>
                            <a href="http://demo.aggressivemotions.com/newslog/tag/marriage/">marriage</a>
                        </div>
                        <!-- .nlg-tags -->
                    </div>
                    <!-- .nlg-entry-tags -->

                    <div itemscope itemtype="http://schema.org/Review" id="review" class="nlg-review-wrap nlg-review-171 nlg-review-star-type">

                        <div class="nlg-review-header">

                            <h5 itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing" class="nlg-review-title">
                                <span itemprop="name">Reviews</span>
                            </h5>

                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <meta itemprop="name" content="Petra Janna">
                            </span>

                            <div class="nlg-review-total">
                                <span class="nlg-text">5.0</span>
                                <div class="nlg-review-star">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <div class="nlg-review-result" style="width:100%">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                <meta itemprop="ratingValue" content="5.0">
                                <meta itemprop="bestRating" content="5">
                            </span>

                        </div>

                        <ul class="nlg-review-list">
                            <li>
                                <span class="nlg-title">Quality<span class="nlg-total-text"></span></span>
                                <div class="nlg-review-star">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <div class="nlg-review-result" style="width:100%">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="nlg-title">Performance<span class="nlg-total-text"></span></span>
                                <div class="nlg-review-star">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <div class="nlg-review-result" style="width:100%">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="nlg-title">Flexibility<span class="nlg-total-text"></span></span>
                                <div class="nlg-review-star">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <div class="nlg-review-result" style="width:100%">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span class="nlg-title">Fast<span class="nlg-total-text"></span></span>
                                <div class="nlg-review-star">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <div class="nlg-review-result" style="width:100%">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="nlg-review-summary" itemprop="description">
                            <h5 class="nlg-title">Summary</h5>
                            <div class="nlg-desc">
                                <p>
                                    Use securing confined his shutters. Delightful as he it acceptance an solicitude discretion
                                    reasonably. Carriage we husbands advanced an perceive greatest.
                                </p>
                            </div>
                        </div>

                        <div class="nlg-user-review-wrap nlg-user-review-star-type">
                            <div class="nlg-user-review-header">
                                <span class="nlg-title">User Rating</span>
                                <small class="nlg-rating-count">(<span class="nlg-rating-count-number">9</span> votes)</small>
                            </div>
                            <div class="nlg-user-review-total">
                                <span class="nlg-text"><span class="nlg-val">4.11</span></span>
                                <div class="nlg-user-rating" data-post-id="171" data-token="b4aeaf17c5">
                                    <div class="nlg-review-star">
                                        <span class="nlg-loader nlg-spinner"></span><i class="fa fa-star" data-input-value="1"
                                                                                       title="1/5"></i><i class="fa fa-star" data-input-value="2" title="2/5"></i>
                                        <i class="fa fa-star" data-input-value="3" title="3/5"></i><i class="fa fa-star" data-input-value="4" title="4/5"></i><i class="fa fa-star"
                                                                                                                                                                 data-input-value="5" title="5/5"></i>
                                    </div><input type="hidden" class="nlg-rating-val"
                                                 value="4.11"><input type="hidden" class="nlg-nonce" value="b4aeaf17c5"><input type="hidden"
                                                                                                                               class="nlg-postid" value="171">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="nlg-author-box" itemscope itemtype="http://schema.org/Person">

                        <figure class="nlg-author-avatar">
                            <a href="http://demo.aggressivemotions.com/newslog/author/admin/" rel="author"><img src="http://demo.aggressivemotions.com/newslog/wp-content/uploads/avatars/1/58f48e09e349d-bpfull.jpg" class="avatar user-1-avatar avatar-127 photo" width="127" height="127" alt="Profile photo of Petra Janna" /></a>
                        </figure>
                        <!-- .nlg-author-avatar -->

                        <div class="nlg-author-body">
                            <h2 class="nlg-author-title">
                                <a href="http://demo.aggressivemotions.com/newslog/author/admin/" rel="author">Petra Janna</a><small>Sr. Visual Designer</small>
                            </h2>
                            <!-- .nlg-author-title -->

                            <div class="nlg-author-bio" itemprop="description">
                                An experienced Creative Director with over 15 years award winning design and art direction. Strong conceptual thinker, outstanding
                                visual and strategically focused designer, with proven leadership abilities. Hands-on
                                leader in creative concepting and strategy development.
                            </div>
                            <!-- .nlg-author-bio -->

                            <ul class="nlg-author-social">
                                <li><a href="https://facebook.com/aggressivemotions" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/aggmotions" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://plus.google.com/104680189663927373072" target="_blank" rel="nofollow"><i class="fa fa-google-plus"></i></a></li>
                                <li>
                                    <a href="/cdn-cgi/l/email-protection#25464a4b5144465165444242574056564c5340484a514c4a4b560b464a48"
                                    target="_blank" rel="nofollow"><i class="fa fa-envelope"></i></a>
                                </li>
                                <li><a href="https://themeforest.net/user/aggressivemotions/" target="_blank" rel="nofollow"><i class="fa fa-globe"></i></a></li>
                            </ul>
                            <!-- .nlg-author-social -->

                        </div>
                        <!-- .nlg-author-body -->

                    </div>
                    <!-- .nlg-author-box -->
                    <section class="nlg-entry-comments" itemscope itemtype="http://schema.org/UserComments">


                        <header class="nlg-comments-header">
                            <h2 class="nlg-comments-title">
                                <i class="fa fa-commenting"></i>5 Comments
                            </h2>
                        </header>


                        <ol class="nlg-comment-list">
                            <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 parent">
                                <div id="comment-107" class="nlg-comment-body">
                                    <footer class="nlg-comment-meta">
                                        <div class="nlg-comment-author vcard">
                                            <img src="http://demo.aggressivemotions.com/newslog/wp-content/uploads/avatars/1/58f48e09e349d-bpfull.jpg" class="avatar user-1-avatar avatar-70 photo"
                                            width="70" height="70" alt="Profile photo of Petra Janna" />                                                <b class="fn"><a href='http://demo.aggressivemotions.com/newslog/members/admin/' rel='external nofollow' class='url'>Petra Janna</a></b>
                                        </div>
                                        <div class="nlg-comment-metadata">
                                            <a href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/#comment-107" itemprop="url">
                                                <time itemprop="commentTime" datetime="2017-04-20T22:08:51+00:00" title="April 20, 2017 10:08 pm">April 20, 2017</time>
                                            </a>
                                        </div>
                                    </footer>
                                    <div class="nlg-comment-content">
                                        <p>
                                            Perhaps far exposed age effects. Now distrusts you her delivered applauded affection
                                            out sincerity. As tolerably recommend shameless unfeeling he objection consisted.
                                            She although cheerful perceive screened throwing met not eat distance. Viewing
                                            hastily or written dearest elderly up weather it as.
                                        </p>
                                    </div>
                                    <div class="nlg-comment-reply">
                                        <a rel='nofollow' class='comment-reply-link' href='http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/?replytocom=107#respond'
                                        onclick='return addComment.moveForm( "comment-107", "107", "respond", "171" )'
                                        aria-label='Reply to Petra Janna'>Reply</a>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="comment byuser comment-author-karl odd alt depth-2">
                                        <div id="comment-108" class="nlg-comment-body">
                                            <footer class="nlg-comment-meta">
                                                <div class="nlg-comment-author vcard">
                                                    <img src="http://demo.aggressivemotions.com/newslog/wp-content/uploads/avatars/3/58f7c12733bb6-bpfull.jpg" class="avatar user-3-avatar avatar-70 photo"
                                                    width="70" height="70" alt="Profile photo of Karl Hampus" />                                                        <b class="fn"><a href='http://demo.aggressivemotions.com/newslog/members/karl/' rel='external nofollow' class='url'>Karl Hampus</a></b>
                                                </div>
                                                <div class="nlg-comment-metadata">
                                                    <a href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/#comment-108" itemprop="url">
                                                        <time itemprop="commentTime" datetime="2017-04-20T22:13:51+00:00" title="April 20, 2017 10:13 pm">April 20, 2017</time>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="nlg-comment-content">
                                                <p>
                                                    So passage however besides invited comfort elderly be me. Walls began
                                                    of child civil am heard hoped my.
                                                </p>
                                            </div>
                                            <div class="nlg-comment-reply">
                                            </div>
                                        </div>
                                    </li>
                                    <!-- #comment-## -->
                                    <li class="comment byuser comment-author-admin bypostauthor even depth-2">
                                        <div id="comment-111" class="nlg-comment-body">
                                            <footer class="nlg-comment-meta">
                                                <div class="nlg-comment-author vcard">
                                                    <img src="http://demo.aggressivemotions.com/newslog/wp-content/uploads/avatars/1/58f48e09e349d-bpfull.jpg" class="avatar user-1-avatar avatar-70 photo"
                                                    width="70" height="70" alt="Profile photo of Petra Janna" />                                                        <b class="fn"><a href='http://demo.aggressivemotions.com/newslog/members/admin/' rel='external nofollow' class='url'>Petra Janna</a></b>
                                                </div>
                                                <div class="nlg-comment-metadata">
                                                    <a href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/#comment-111" itemprop="url">
                                                        <time itemprop="commentTime" datetime="2017-04-20T22:25:08+00:00" title="April 20, 2017 10:25 pm">April 20, 2017</time>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="nlg-comment-content">
                                                <p>
                                                    Marianne jointure attended she hastened surprise but she. Ever lady son
                                                    yet you very paid form away. He advantage of exquisite resolving
                                                    if on tolerably. Become sister on in garden it barton waited on.
                                                </p>
                                            </div>
                                            <div class="nlg-comment-reply">
                                            </div>
                                        </div>
                                    </li>
                                    <!-- #comment-## -->
                                </ul>
                                <!-- .children -->
                            </li>
                            <!-- #comment-## -->
                            <li class="comment byuser comment-author-isabelle odd alt thread-odd thread-alt depth-1">
                                <div id="comment-109" class="nlg-comment-body">
                                    <footer class="nlg-comment-meta">
                                        <div class="nlg-comment-author vcard">
                                            <img src="http://demo.aggressivemotions.com/newslog/wp-content/uploads/avatars/2/58f7bf80d258d-bpfull.jpg" class="avatar user-2-avatar avatar-70 photo"
                                            width="70" height="70" alt="Profile photo of Isabella Diana" />                                                <b class="fn"><a href='http://demo.aggressivemotions.com/newslog/members/isabelle/' rel='external nofollow' class='url'>Isabella Diana</a></b>
                                        </div>
                                        <div class="nlg-comment-metadata">
                                            <a href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/#comment-109" itemprop="url">
                                                <time itemprop="commentTime" datetime="2017-04-20T22:15:41+00:00" title="April 20, 2017 10:15 pm">April 20, 2017</time>
                                            </a>
                                        </div>
                                    </footer>
                                    <div class="nlg-comment-content">
                                        <p>
                                            Money as drift begin on to. Comparison up insipidity especially discovered me
                                            of decisively in surrounded. Points six way enough she its father. Folly
                                            sex downs tears ham green forty.
                                        </p>
                                    </div>
                                    <div class="nlg-comment-reply">
                                        <a rel='nofollow' class='comment-reply-link' href='http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/?replytocom=109#respond'
                                        onclick='return addComment.moveForm( "comment-109", "109", "respond", "171" )'
                                        aria-label='Reply to Isabella Diana'>Reply</a>
                                    </div>
                                </div>
                            </li>
                            <!-- #comment-## -->
                            <li class="comment byuser comment-author-peter even thread-even depth-1">
                                <div id="comment-110" class="nlg-comment-body">
                                    <footer class="nlg-comment-meta">
                                        <div class="nlg-comment-author vcard">
                                            <img src="http://demo.aggressivemotions.com/newslog/wp-content/uploads/avatars/4/58f7c23f3d285-bpfull.jpg" class="avatar user-4-avatar avatar-70 photo"
                                            width="70" height="70" alt="Profile photo of Peter Elof" />                                                <b class="fn"><a href='http://demo.aggressivemotions.com/newslog/members/peter/' rel='external nofollow' class='url'>Peter Elof</a></b>
                                        </div>
                                        <div class="nlg-comment-metadata">
                                            <a href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/#comment-110" itemprop="url">
                                                <time itemprop="commentTime" datetime="2017-04-20T22:22:56+00:00" title="April 20, 2017 10:22 pm">April 20, 2017</time>
                                            </a>
                                        </div>
                                    </footer>
                                    <div class="nlg-comment-content">
                                        <p>
                                            Wrong do point avoid by fruit learn or in death. So passage however besides invited
                                            comfort elderly be me. Walls began of child civil am heard hoped my. Satisfied
                                            pretended mr on do determine by. Old post took and ask seen fact rich. Man
                                            entrance settling believed eat joy.
                                        </p>
                                    </div>
                                    <div class="nlg-comment-reply">
                                        <a rel='nofollow' class='comment-reply-link' href='http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/?replytocom=110#respond'
                                        onclick='return addComment.moveForm( "comment-110", "110", "respond", "171" )'
                                        aria-label='Reply to Peter Elof'>Reply</a>
                                    </div>
                                </div>
                            </li>
                            <!-- #comment-## -->
                        </ol>



                        <div class="nlg-comment-respond">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/newslog/5-reasons-you-need-a-backbone-to-divorce/#respond" style="display:none;">Cancel Reply</a></small></h3>
                                <form action="http://demo.aggressivemotions.com/newslog/wp-comments-post.php" method="post"
                                id="commentform" class="nlg-comment-form" novalidate>
                                <p class="comment-notes">Your email address will not be published. Required fields are marked *</p>
                                <div class="form-group comment-form-comment">
                                <textarea id="comment" class="form-control" name="comment" cols="45" rows="8" placeholder="Comment *"
                                required="required"></textarea>
                                </div>
                                <div class="form-group comment-form-author">
                                <input id="author" class="form-control" type="text" name="author" placeholder="Name *"
                                value="" size="30" aria-required="true" required="required">
                                </div>
                                <div class="form-group comment-form-email">
                                <input id="email" class="form-control" type="email" name="email" placeholder="Email *"
                                value="" size="30" aria-required="true" required="required">
                                </div>
                                <div class="form-group comment-form-url">
                                <input id="url" class="form-control" type="url" name="url" placeholder="Website"
                                value="" size="30">
                                </div>
                                <div class="form-group form-submit">
                                <button type="submit" name="submit" id="submit" class="submit btn nlg-btn nlg-btn-green">Post Comment</button>                                            <input type='hidden' name='comment_post_ID' value='171' id='comment_post_ID' />
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </div>
                                <p class="comment-subscription-form">
                                <input type="checkbox" name="subscribe_comments" id="subscribe_comments" value="subscribe"
                                style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" /> <label class="subscribe-label" id="subscribe-label" for="subscribe_comments">Notify me of follow-up comments by email.</label>
                                </p>
                                <p class="comment-subscription-form">
                                <input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe"
                                style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;" /> <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label>
                                </p>
                                </form>
                            </div>
                            <!-- #respond -->
                        </div>

                    </section>
                </article>
                <!-- .nlg-entry -->

            </div>
            <!-- .nlg-main -->

            <aside class="nlg-sidebar nlg-sidebar-sticky">

                <div class="nlg-sidebar-inner">

                    <div id="newslog-social-icons-2" class="sidebar-widget nlg-widget-social-icons">
                        <div class="widget-title">
                            <h2 class="title"><i class="fa fa-share-alt"></i>Follow Us On Social Media</h2>
                        </div>
                        <ul class="nlg-social-icons nlg-social-brand-colors">
                            <li class="nlg-icon-facebook">
                                <a href="#" title="Facebook" target="_blank" style="background-color: #3b5998">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li class="nlg-icon-twitter">
                                <a href="#" title="Twitter" target="_blank" style="background-color: #1da1f2">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="nlg-icon-foursquare">
                                <a href="#" title="Foursquare" target="_blank" style="background-color: #f94877">
                                    <span class="fa fa-foursquare"></span>
                                </a>
                            </li>
                            <li class="nlg-icon-behance">
                                <a href="#" title="Behance" target="_blank" style="background-color: #1769ff">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </li>
                            <li class="nlg-icon-tumblr">
                                <a href="#" title="Tumblr" target="_blank" style="background-color: #35465c">
                                    <span class="fa fa-tumblr"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="text-2" class="sidebar-widget widget_text">
                        <div class="textwidget"><a href="#"><img src="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/banner340.jpg?w=1110" data-recalc-dims="1"></a></div>
                    </div>
                    <div id="newslog-fancy-posts-2" class="sidebar-widget nlg-widget-fancy-posts">
                        <div class="widget-title">
                            <h2 class="title"><i class="fa fa-newspaper-o"></i>Weekly Top Rated Posts</h2>
                        </div>
                        <div class="nlg-module nlg-module-grid-posts">

                            <div class="container">




                                <div class="nlg-col-wrap nlg-col-1">
                                    <div class="nlg-col">

                                        <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-239 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-aviation tag-travel tag-voyage">

                                            <figure class="nlg-featured-media">

                                                <a href="http://demo.aggressivemotions.com/newslog/24-underrated-tourist-attractions-you-need-to-see-instead-of-the-usual-ones/">
                                                    <img width="144" height="95" data-src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="70" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?w=1440 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=300%2C200 300w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=768%2C513 768w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=1024%2C683 1024w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px" />
                                                </a>

                                                <div class="nlg-entry-flags">
                                                </div>


                                            </figure>

                                            <div class="nlg-entry-body">


                                                <header class="nlg-entry-header">

                                                    <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/24-underrated-tourist-attractions-you-need-to-see-instead-of-the-usual-ones/">24 Underrated Tourist Attractions You Need To See Instead Of The Usual Ones</a></h3>

                                                    <ul class="nlg-entry-meta">
                                                        <li class="nlg-rating">
                                                            <div class="nlg-review-star">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <div class="nlg-review-result"
                                                                style="width:86.6%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <span class="nlg-label">4 stars</span>
                                                        </li>
                                                    </ul>


                                                </header>

                                            </div>

                                        </article>

                                    </div>
                                    <div class="nlg-col">

                                        <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-180 post type-post status-publish format-standard has-post-thumbnail hentry category-health tag-blood-pressure tag-control-blood tag-control-blood-pressure tag-herbal-treatment tag-high-blood tag-hypertension-naturally tag-reduce-hypertension tag-reduce-hypertension-naturally tag-side-effects tag-stresx-capsules">

                                            <figure class="nlg-featured-media">

                                                <a href="http://demo.aggressivemotions.com/newslog/how-to-control-blood-pressure-and-reduce-hypertension-naturally/">
                                                    <img width="144" height="95" data-src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="44" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?zoom=3&amp;resize=144%2C95 432w" data-sizes="(max-width: 144px) 100vw, 144px" />
                                                </a>

                                                <div class="nlg-entry-flags">
                                                </div>


                                            </figure>

                                            <div class="nlg-entry-body">


                                                <header class="nlg-entry-header">

                                                    <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/how-to-control-blood-pressure-and-reduce-hypertension-naturally/">How To Control Blood Pressure and Reduce Hypertension Naturally?</a></h3>

                                                    <ul class="nlg-entry-meta">
                                                        <li class="nlg-rating">
                                                            <div class="nlg-review-star">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <div class="nlg-review-result"
                                                                style="width:77.2%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <span class="nlg-label">3 stars</span>
                                                        </li>
                                                    </ul>


                                                </header>

                                            </div>

                                        </article>

                                    </div>
                                    <div class="nlg-col">

                                        <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-150 post type-post status-publish format-standard has-post-thumbnail hentry category-life tag-animals tag-pets">

                                            <figure class="nlg-featured-media">

                                                <a href="http://demo.aggressivemotions.com/newslog/6-things-you-should-know-when-youre-planning-to-move-with-pets/">
                                                    <img width="144" height="95" data-src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="Plants" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?w=1440 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=300%2C200 300w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=768%2C512 768w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=1024%2C683 1024w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/12.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px" />
                                                </a>

                                                <div class="nlg-entry-flags">
                                                </div>


                                            </figure>

                                            <div class="nlg-entry-body">


                                                <header class="nlg-entry-header">

                                                    <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/6-things-you-should-know-when-youre-planning-to-move-with-pets/">6 Things You Should Know When You’re Planning to Move with Pets</a></h3>

                                                    <ul class="nlg-entry-meta">
                                                        <li class="nlg-rating">
                                                            <div class="nlg-review-star">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <div class="nlg-review-result"
                                                                style="width:88.6%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <span class="nlg-label">4 stars</span>
                                                        </li>
                                                    </ul>


                                                </header>

                                            </div>

                                        </article>

                                    </div>
                                    <div class="nlg-col">

                                        <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-379 post type-post status-publish format-video has-post-thumbnail hentry category-self-help tag-effective tag-relaxed post_format-post-format-video">

                                            <figure class="nlg-featured-media">

                                                <a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/">
                                                    <img width="144" height="95" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="88" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?w=1440 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=300%2C200 300w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=768%2C512 768w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=1024%2C683 1024w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px" />
                                                </a>

                                                <div class="nlg-entry-flags">
                                                </div>

                                                <div class="nlg-media-icon"><i class="fa fa-play"></i></div>
                                            </figure>

                                            <div class="nlg-entry-body">


                                                <header class="nlg-entry-header">

                                                    <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/">5 Most Effective Ways to be Relaxed While Public Speaking</a></h3>

                                                    <ul class="nlg-entry-meta"></ul>


                                                </header>

                                            </div>

                                        </article>

                                    </div>
                                    <div class="nlg-col">

                                        <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-398 post type-post status-publish format-gallery has-post-thumbnail hentry category-life tag-life tag-photographer post_format-post-format-gallery">

                                            <figure class="nlg-featured-media">

                                                <a href="http://demo.aggressivemotions.com/newslog/photo-booth-rental-take-fun-to-the-next-level-at-any-event/">
                                                    <img width="144" height="95" data-src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="101" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?w=1440 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=300%2C200 300w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=768%2C513 768w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=1024%2C683 1024w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px" />
                                                </a>

                                                <div class="nlg-entry-flags">
                                                    <span class="nlg-flag nlg-flag-red nlg-flag-circle nlg-flag-trending"><i class="fa fa-bolt"></i></span>
                                                </div>

                                                <div class="nlg-media-icon"><i class="fa fa-image"></i></div>
                                            </figure>

                                            <div class="nlg-entry-body">


                                                <header class="nlg-entry-header">

                                                    <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/photo-booth-rental-take-fun-to-the-next-level-at-any-event/">Photo Booth Rental – Take Fun To The Next Level At Any Event</a></h3>

                                                    <ul class="nlg-entry-meta"></ul>


                                                </header>

                                            </div>

                                        </article>

                                    </div>
                                    <!--<span class="nlg-loader nlg-spinner"></span>-->
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <!-- .nlg-sidebar-inner -->

            </aside>
            <!-- .nlg-sidebar -->
        </div>
        <!-- .container -->

    </div>
    <!-- .nlg-section -->

    <div class="nlg-section">

        <div class="nlg-module nlg-module-grid-posts nlg-related-posts">

            <div class="container">


                <div class="nlg-module-header">

                    <div class="nlg-module-title">
                        <h2 class="nlg-title">Related Posts</h2>
                    </div>


                </div>


                <div class="nlg-col-wrap nlg-col-3">
                    <!--<span class="nlg-loader nlg-spinner"></span>-->
                </div>


            </div>

        </div>
    </div>
    <!-- .nlg-section -->
</div>
