@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers
@{
    var resourceService = EngineContext.Current.Resolve<VnStyle.Services.Business.IResourceService>();

    var languages = resourceService.GetLanguages().Select(p => new { p.Name, p.Code, p.IsDefault, Flag = $"~/Content/images/flag/{p.Code}.png" }).ToList();

    var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
    var appSetting = settingSetting.LoadConfiguration<AppSetting>();

}
<footer class="nlg-footer nlg-footer-dark">
    <div class="nlg-footer-wrap">

        <div class="container">

            <div class="nlg-footer-sidebars row">


                <div class="nlg-col col-xs-12 col-md-3 col-lg-3">

                    <div class="nlg-footer-sidebar">
                        <div id="newslog-brand-box-3" class="sidebar-widget nlg-widget-brand-box">
                            <div class="nlg-brand-box">

                                <div class="nlg-logo"><img src="~/Content/images/logo-2.png" alt=""></div>
                                <p class="nlg-description">NewsLog, News &amp; Magazine Theme. Discover new blogging standards with 6 months free support!</p>
                            </div>
                            <!-- .nlg-author-card -->
                        </div>
                        <div id="newslog-social-icons-3" class="sidebar-widget nlg-widget-social-icons">
                            <ul class="nlg-social-icons nlg-social-brand-colors">
                                <li class="nlg-icon-facebook">
                                    <a href="@appSetting.Facebook" title="Facebook" target="_blank" style="background-color: #3b5998">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li class="nlg-icon-instagram">
                                    <a href="@appSetting.Instagram" title="Instagram" target="_blank" style="background-color: #d10869">
                                        <span class="fa fa-instagram"></span>
                                    </a>
                                </li>
                                <li class="nlg-icon-youtube">
                                    <a href="@appSetting.Youtube" title="Youtube" target="_blank" style="background-color: #cc181e">
                                        <span class="fa fa-youtube"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- .nlg-footer-sidebars -->

                </div>
                <!-- .nlg-col -->
                <!-- .nlg-col -->


                <div class="nlg-col col-xs-12 col-md-3 col-lg-3">

                    <div class="nlg-footer-sidebar">
                        <div id="nav_menu-2" class="sidebar-widget widget_nav_menu">
                            <div class="widget-title">
                                <h2 class="title">VnStyle Tattoo & Piercing </h2>
                            </div>
                            <div class="menu-footer-menu-1-container">
                                <ul id="menu-footer-menu-1" class="menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514">
                                        <a href="">Trang chủ</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514">
                                        <a href="">Xăm</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514">
                                        <a href="">Xỏ khuyên</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514">
                                        <a href="">Hình ảnh</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514">
                                        <a href="">Khóa học</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514">
                                        <a href="">Vnstyle Tattoo TV</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-514">
                                        <a href="">Giới thiệu</a>
                                    </li>

                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .nlg-footer-sidebars -->

                </div>
                <!-- .nlg-col -->


                <div class="nlg-col col-xs-12 col-md-6 col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7838.402783735499!2d106.69051315078735!3d10.795882004353434!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8aec628fbb4e929f!2sVNStyle+Tattoo+%26+Piercing!5e0!3m2!1svi!2sin!4v1505630995544" width="100%" frameborder="0" style="border:0;height: 220px;" allowfullscreen=""></iframe>

                    <!-- .nlg-footer-sidebars -->

                </div>
                <!-- .nlg-col -->


            </div>
            <!-- .nlg-footer-sidebars -->

        </div>
        <!-- .container -->

    </div>
    <!-- .nlg-footer-wrap -->
</footer>
