
@model IEnumerable<VnStyle.Services.Business.Models.ArtistListingModel>
@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;

<section >
    @*<div id="owl-artists" >
        @foreach (var artist in Model)
        {
            <a href="@Url.HostAction("Images","Home",new { id = artist.Id })">
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="@artist.UrlImage" style="height:500px">
                    </div>

                </div>
            </a>
            
        }

    </div>*@
    
    <div class="owl-carousel owl-theme">
        @foreach (var artist in Model)
        {
            <a href="@Url.HostAction("Images","Home",new { id = artist.Id , name = CommonHelper.FriendlyUrl(artist.Name) })">
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="@Url.HostContent(artist.UrlImage)" style="height:500px;">
                    </div>

                </div>
            </a>
        }
    </div>
</section>




