<div id="nlg-section-7e848e14-c380" class="nlg-section nlg-visible-xs nlg-visible-sm nlg-visible-md nlg-visible-lg">
    <div id="nlg-module-1dd3328e-c893" class="nlg-module nlg-module-featured-posts nlg-module-fp-b nlg-module-fp-full-width">
        <div class="container">

            <div data-items="3" data-center="false" data-responsive="0:1,768:2,992:3" data-controls="nlg-carousel-nav" class="nlg-col-wrap nlg-col-3 nlg-carousel owl-carousel owl-loaded">
                <!-- .nlg-col -->
                <!-- .nlg-col -->
                <!-- .nlg-col -->
                <!-- .nlg-col -->
                <!-- .nlg-col -->
                <!-- .nlg-col -->
                <!-- .nlg-col -->
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1480px, 0px, 0px); transition: 0s; width: 5550px;">
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-432 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-attraction tag-travel lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/ek.jpg?resize=555%2C500 555w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/ek.jpg?resize=1110%2C1000 1110w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/where-to-get-the-best-shots-morzines-beautiful-natural-attractions/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e8cd20">Travel</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Petra Janna</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T15:16:44+00:00" title="April 18, 2017 3:16 pm">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Where to get the Best Shots: Morzine’s Beautiful Natural Attractions</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:86.6%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-411 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-india tag-travel lazyload"
                                         data-bgset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/92.jpg?resize=1110%2C1000"
                                         data-sizes="auto" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/3-miscellaneous-landscapes-to-explore-with-india-holiday-packages/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e8cd20">Travel</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Isabella Diana</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T14:35:08+00:00" title="April 18, 2017 2:35 pm">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">3 Miscellaneous Landscapes to Explore With India Holiday Packages</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:100%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">5 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-417 post type-post status-publish format-standard has-post-thumbnail hentry category-life lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/80.jpg?zoom=2&amp;resize=1110%2C960 2220w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/80.jpg?zoom=3&amp;resize=1110%2C960 3330w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/retreats-at-old-mission-san-luis-rey-in-oceanside-california/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e02395">Life</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Isabella Diana</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T14:56:05+00:00" title="April 18, 2017 2:56 pm">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Retreats at Old Mission San Luis Rey in Oceanside, California</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:60%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">3 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-373 post type-post status-publish format-standard has-poststhumbnail hentry category-finance tag-finance tag-loans lazyload"
                                         data-sizes="auto" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/how-installment-loans-are-going-to-change-your-financial-circumstances/"
                                       class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#01adaa">Finance</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T10:23:24+00:00" title="April 18, 2017 10:23 am">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">How Installment Loans Are Going to Change Your Financial Circumstances?</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:60%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">3 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-169 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-cigarette tag-smoking lazyload"
                                         data-bgset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?zoom=2&amp;resize=1110%2C934 2220w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?zoom=3&amp;resize=1110%2C934 3330w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/used-electronic-cigarette-to-quitting-smoking-habit/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#9a22e5">Self Help</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Petra Janna</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-16T12:37:11+00:00" title="April 16, 2017 12:37 pm">April 16, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Used Electronic Cigarette To Quitting Smoking Habit</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:90%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-240 post type-post status-publish format-standard has-post-thumbnail hentry category-life tag-art tag-craziness lazyload"
                                         data-bgset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/22.jpg?resize=1110%2C1000"
                                         data-sizes="auto" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/people-are-obsessed-with-this-art-and-the-patterns-are-flawless/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e02395">Life</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-16T19:25:36+00:00" title="April 16, 2017 7:25 pm">April 16, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">People Are Obsessed With This Art And The Patterns Are Flawless</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:80%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-385 post type-post status-publish format-standard has-post-thumbnail hentry category-life tag-communication tag-life lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg?zoom=2&amp;resize=1110%2C961 2220w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg?zoom=3&amp;resize=1110%2C961 3330w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/now-anyone-easily-do-cheating-with-spy-bluetooth-earpiece/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e02395">Life</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T10:56:58+00:00" title="April 18, 2017 10:56 am">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Now Anyone Easily Do Cheating With SPY Bluetooth Earpiece</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:80%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-432 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-attraction tag-travel lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/ek.jpg?resize=555%2C500 555w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/ek.jpg?resize=1110%2C1000 1110w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/where-to-get-the-best-shots-morzines-beautiful-natural-attractions/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e8cd20">Travel</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Petra Janna</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T15:16:44+00:00" title="April 18, 2017 3:16 pm">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Where to get the Best Shots: Morzine’s Beautiful Natural Attractions</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:86.6%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-411 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-india tag-travel lazyload"
                                         data-bgset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/92.jpg?resize=1110%2C1000"
                                         data-sizes="auto" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/3-miscellaneous-landscapes-to-explore-with-india-holiday-packages/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e8cd20">Travel</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Isabella Diana</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T14:35:08+00:00" title="April 18, 2017 2:35 pm">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">3 Miscellaneous Landscapes to Explore With India Holiday Packages</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:100%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">5 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-417 post type-post status-publish format-standard has-post-thumbnail hentry category-life lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/80.jpg?zoom=2&amp;resize=1110%2C960 2220w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/80.jpg?zoom=3&amp;resize=1110%2C960 3330w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/retreats-at-old-mission-san-luis-rey-in-oceanside-california/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e02395">Life</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Isabella Diana</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T14:56:05+00:00" title="April 18, 2017 2:56 pm">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Retreats at Old Mission San Luis Rey in Oceanside, California</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:60%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">3 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-373 post type-post status-publish format-standard has-post-thumbnail hentry category-finance tag-finance tag-loans lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/74.jpg?resize=1110%2C1000"
                                         data-sizes="auto" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/how-installment-loans-are-going-to-change-your-financial-circumstances/"
                                       class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#01adaa">Finance</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T10:23:24+00:00" title="April 18, 2017 10:23 am">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">How Installment Loans Are Going to Change Your Financial Circumstances?</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:60%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">3 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-169 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-cigarette tag-smoking lazyload"
                                         data-bgset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?zoom=2&amp;resize=1110%2C934 2220w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/49.jpg?zoom=3&amp;resize=1110%2C934 3330w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/used-electronic-cigarette-to-quitting-smoking-habit/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#9a22e5">Self Help</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Petra Janna</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-16T12:37:11+00:00" title="April 16, 2017 12:37 pm">April 16, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Used Electronic Cigarette To Quitting Smoking Habit</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:90%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-240 post type-post status-publish format-standard has-post-thumbnail hentry category-life tag-art tag-craziness lazyload"
                                         data-bgset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/22.jpg?resize=1110%2C1000"
                                         data-sizes="auto" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/people-are-obsessed-with-this-art-and-the-patterns-are-flawless/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e02395">Life</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-16T19:25:36+00:00" title="April 16, 2017 7:25 pm">April 16, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">People Are Obsessed With This Art And The Patterns Are Flawless</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:80%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-385 post type-post status-publish format-standard has-post-thumbnail hentry category-life tag-communication tag-life lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg?zoom=2&amp;resize=1110%2C961 2220w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/111.jpg?zoom=3&amp;resize=1110%2C961 3330w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/now-anyone-easily-do-cheating-with-spy-bluetooth-earpiece/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e02395">Life</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T10:56:58+00:00" title="April 18, 2017 10:56 am">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Now Anyone Easily Do Cheating With SPY Bluetooth Earpiece</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:80%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 370px;">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-has-featured-media post-432 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-attraction tag-travel lazyload"
                                         data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/ek.jpg?resize=555%2C500 555w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/ek.jpg?resize=1110%2C1000 1110w"
                                         data-sizes="(max-width: 1110px) 100vw, 1110px" style="padding-top: 0px;">
                                    <a href="http://demo.aggressivemotions.com/newslog/where-to-get-the-best-shots-morzines-beautiful-natural-attractions/" class="nlg-entry-body">
                                        <div class="container">

                                            <ul class="nlg-entry-meta">
                                                <li class="nlg-category"><span style="color:#fff;background-color:#e8cd20">Travel</span></li>
                                            </ul>
                                            <!-- .nlg-entry-meta -->
                                            <div class="nlg-entry-header">
                                                <ul class="nlg-entry-meta no-spacing">
                                                    <li class="nlg-byline">
                                                        by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                            <span rel="author"><span itemprop="author">Petra Janna</span></span>
                                                        </span>
                                                    </li>
                                                    <li class="nlg-date">on <span><time datetime="2017-04-18T15:16:44+00:00" title="April 18, 2017 3:16 pm">April 18, 2017</time></span></li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->
                                                <h3 class="nlg-entry-title">Where to get the Best Shots: Morzine’s Beautiful Natural Attractions</h3>
                                                <ul class="nlg-entry-meta">
                                                    <li class="nlg-rating">
                                                        <div class="nlg-review-star">
                                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <div class="nlg-review-result" style="width:86.6%">
                                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> <span class="nlg-label">4 stars</span>
                                                    </li>
                                                </ul>
                                                <!-- .nlg-entry-meta -->

                                            </div>
                                            <!-- .nlg-entry-header -->
                                        </div>
                                    </a>
                                    <!-- .nlg-entry-body -->
                                </article>
                                <!-- .nlg-entry -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav disabled">
                    <div class="owl-prev">prev</div>
                    <div class="owl-next">next</div>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
            <!-- .nlg-col-wrap -->
            <div id="nlg-carousel-nav" class="nlg-carousel-nav">
                <button type="button" class="nlg-nav nlg-nav-left"><i class="fa fa-chevron-left"></i></button>
                <button type="button" class="nlg-nav nlg-nav-right"><i class="fa fa-chevron-right"></i></button>
            </div>
            <!-- .nlg-carousel-nav -->

        </div>
        <!-- .container -->
    </div>
    <!-- .nlg-module -->
</div>