



<div class="row">

    <div class="owl-item" style="width: 370px">
        <a href="#">
            <img src="~/Content/images/22.jpg" style="padding-top: 0px; width:370px">
        </a>
       
        <!-- .nlg-entry-body -->
        <!-- .nlg-entry -->
    </div>


    <div class="owl-item" style="width: 370px">
        <a href="#">
            <img src="~/Content/images/22.jpg" style="padding-top: 0px; width:370px">
        </a>
        
        <!-- .nlg-entry-body -->
        <!-- .nlg-entry -->
    </div>


    <div class="owl-item" style="width: 370px">
        <a href="#">
            <img src="~/Content/images/22.jpg" style="padding-top: 0px; width:370px">
        </a>
        
      
        <!-- .nlg-entry-body -->
        <!-- .nlg-entry -->
    </div>
</div>

