@model Ricky.Infrastructure.Core.IPagedList<VnStyle.Services.Business.Models.ArticleListingModel>

@using Ricky.Infrastructure.Core;
@using VnStyle.Web.Infrastructure.Helpers;

<div class="row">
    <div class="col-xs-12">
        <div>
            <div id="new-article-list" class="new-article-list article-overlay">
                @Html.Partial("NewArticleList", Model)
            </div>
            
            @if (Model.PageIndex < Model.TotalPages - 1)
            {
                @*<div class=""><a href="javascript:;" class="btn" ><i class="fa fa-circle-o-notch"></i>Load More</a></div>*@

                <div style="margin: 20px 0 50px 0">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" id="more-article" class="btn btn-default btn-lg btn-block btn-load-more-article"><i class="fa fa-circle-o-notch"></i>&nbsp;LOAD MORE</button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
    