<div id="nlg-module-610ad9a3-e92c" class="nlg-module nlg-module-grid-posts">
    <div class="container">

        <div class="nlg-module-header nlg-has-tax-nav">
            <div class="nlg-module-title">
                <h2 class="nlg-title">XamTV</h2>
            </div>

        </div>

        <div class="nlg-col-wrap nlg-col-2">
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-379 post type-post status-publish format-video has-post-thumbnail hentry category-self-help tag-effective tag-relaxed post_format-post-format-video"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/">
                            <img width="144" height="95" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="88" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?w=1440 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=300%2C200 300w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=768%2C512 768w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=1024%2C683 1024w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/88.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                        </div>
                        <div class="nlg-media-icon"><i class="fa fa-play"></i></div>
                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="http://demo.aggressivemotions.com/newslog/author/karl/" rel="author"><span itemprop="author">Karl Hampus</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/5-most-effective-ways-to-be-relaxed-while-public-speaking/">5 Most Effective Ways to be Relaxed While Public Speaking</a></h3>
                            <ul class="nlg-entry-meta"></ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-398 post type-post status-publish format-gallery has-post-thumbnail hentry category-life tag-life tag-photographer post_format-post-format-gallery"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/photo-booth-rental-take-fun-to-the-next-level-at-any-event/">
                            <img width="144" height="95" data-src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="101" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?w=1440 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=300%2C200 300w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=768%2C513 768w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=1024%2C683 1024w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/101.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                            <span class="nlg-flag nlg-flag-red nlg-flag-circle nlg-flag-trending"><i class="fa fa-bolt"></i></span>
                        </div>
                        <div class="nlg-media-icon"><i class="fa fa-image"></i></div>
                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="#" rel="author"><span itemprop="author">Karl Hampus</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="#">Photo Booth Rental – Take Fun To The Next Level At Any Event</a></h3>
                            <ul class="nlg-entry-meta"></ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-437 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-bag tag-travel"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/make-your-napa-valley-wine-tour-an-unforgettable-experience/">
                            <img width="144" height="95" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="32" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=730%2C482 730w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?resize=1440%2C950 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/32.jpg?zoom=3&amp;resize=144%2C95 432w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                        </div>

                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="http://demo.aggressivemotions.com/newslog/author/isabelle/" rel="author"><span itemprop="author">Isabella Diana</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/make-your-napa-valley-wine-tour-an-unforgettable-experience/">Make Your Napa Valley Wine Tour An Unforgettable Experience</a></h3>
                            <ul class="nlg-entry-meta"></ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-381 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-bigger tag-natural"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/natural-breast-enhancement-how-to-make-breasts-bigger/">
                            <img width="144" height="95" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="90" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?resize=730%2C482 730w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/90.jpg?zoom=3&amp;resize=144%2C95 432w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                        </div>

                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="http://demo.aggressivemotions.com/newslog/author/karl/" rel="author"><span itemprop="author">Karl Hampus</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/natural-breast-enhancement-how-to-make-breasts-bigger/">Natural Breast Enhancement – How to Make Breasts Bigger?</a></h3>
                            <ul class="nlg-entry-meta"></ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-392 post type-post status-publish format-standard has-post-thumbnail hentry category-health tag-natural tag-sleep"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/natural-sleep-aid-supplements-to-get-relief-from-insomnia-effectively/">
                            <img width="144" height="95" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="62" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=730%2C482 730w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?resize=1440%2C950 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/62.jpg?zoom=3&amp;resize=144%2C95 432w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                        </div>

                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="http://demo.aggressivemotions.com/newslog/author/karl/" rel="author"><span itemprop="author">Karl Hampus</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/natural-sleep-aid-supplements-to-get-relief-from-insomnia-effectively/">Natural Sleep Aid Supplements To Get Relief From Insomnia Effectively</a></h3>
                            <ul class="nlg-entry-meta"></ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-405 post type-post status-publish format-standard has-post-thumbnail hentry category-health tag-eyes tag-health"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/herbal-weak-eyesight-treatment-to-improve-health-of-eyes-naturally/">
                            <img width="144" height="95" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="89" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?w=1440 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=300%2C200 300w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=768%2C512 768w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=1024%2C683 1024w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/89.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                            <span class="nlg-flag nlg-flag-red nlg-flag-circle nlg-flag-trending"><i class="fa fa-bolt"></i></span>
                        </div>

                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="http://demo.aggressivemotions.com/newslog/author/karl/" rel="author"><span itemprop="author">Karl Hampus</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/herbal-weak-eyesight-treatment-to-improve-health-of-eyes-naturally/">Herbal Weak Eyesight Treatment To Improve Health Of Eyes Naturally</a></h3>
                            <ul class="nlg-entry-meta"></ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-194 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-best-catering tag-best-catering-services tag-catering-services"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/feel-like-a-pro-by-using-the-best-catering-services-in-philly/">
                            <img width="144" height="95" data-src="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="110" data-srcset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?w=1440 1440w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=300%2C200 300w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=768%2C512 768w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=1024%2C683 1024w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=60%2C40 60w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=144%2C95 144w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=210%2C139 210w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=234%2C154 234w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=267%2C176 267w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=350%2C231 350w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/110.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                            <span class="nlg-flag nlg-flag-red nlg-flag-circle nlg-flag-trending"><i class="fa fa-bolt"></i></span>
                        </div>

                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="http://demo.aggressivemotions.com/newslog/author/admin/" rel="author"><span itemprop="author">Petra Janna</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/feel-like-a-pro-by-using-the-best-catering-services-in-philly/">Feel Like a Pro by using the Best Catering Services in Philly</a></h3>
                            <ul class="nlg-entry-meta"></ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-col">
                <article class="nlg-entry nlg-entry-horizontal nlg-entry-has-featured-media post-220 post type-post status-publish format-audio has-post-thumbnail hentry category-travel tag-outdoor tag-travel post_format-post-format-audio"
                         style="padding-top: 0px;">
                    <figure class="nlg-featured-media">
                        <a href="http://demo.aggressivemotions.com/newslog/confused-about-a-hangout-place-for-one-day-outing/">
                            <img width="144" height="95" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=144%2C95" src="data:image/gif;base64,R0lGODlhAwACAIAAAP///wAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw==" class="attachment-nlg-144-95 size-nlg-144-95 lazyload agg-fade-in" alt="100" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?w=1440 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=300%2C200 300w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=768%2C512 768w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=1024%2C683 1024w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/100.jpg?resize=730%2C482 730w" data-sizes="(max-width: 144px) 100vw, 144px">
                        </a>
                        <div class="nlg-entry-flags">
                        </div>
                        <div class="nlg-media-icon"><i class="fa fa-volume-up"></i></div>
                    </figure>
                    <div class="nlg-entry-body">
                        <ul class="nlg-entry-meta first no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <a href="http://demo.aggressivemotions.com/newslog/author/karl/" rel="author"><span itemprop="author">Karl Hampus</span></a>
                                </span>
                            </li>
                        </ul>
                        <header class="nlg-entry-header">
                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/confused-about-a-hangout-place-for-one-day-outing/">Confused About a Hangout Place For One Day Outing?</a></h3>
                            <ul class="nlg-entry-meta">
                                <li class="nlg-rating">
                                    <div class="nlg-review-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <div class="nlg-review-result" style="width:100%">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <span class="nlg-label">5 stars</span>
                                </li>
                            </ul>

                        </header>
                    </div>
                </article>
            </div>
            <div class="nlg-pagination nlg-pagination-loadmore"><span data-href="http://demo.aggressivemotions.com/newslog/page/2/" class="btn" data-load-page="2"><i class="fa fa-circle-o-notch"></i>Load More</span></div>
            <!--<span class="nlg-loader nlg-spinner"></span>-->
        </div>

    </div>
</div>
