
@model Ricky.Infrastructure.Core.IPagedList<VnStyle.Services.Business.Models.VideoListingModel>
@using VnStyle.Web.Infrastructure.Helpers;
<div id="nlg-module-610ad9a3-e92c" class="nlg-module nlg-module-grid-posts">
    <div class="container">

        <div class="nlg-module-header nlg-has-tax-nav">
            <div class="nlg-module-title">
                <h2 class="nlg-title">Clip</h2>
            </div>

        </div>

        <div class="nlg-col-wrap nlg-col-2">
            <div id="new-video-list">
                @Html.Partial("NewVideoList", Model)
            </div>
            <div class="nlg-pagination nlg-pagination-loadmore">
                <a class="btn" id="more-video"><i class="fa fa-circle-o-notch"></i>Load More</a>
            </div>

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#myModal").on("hidden.bs.modal", function () {
            $("#iframeYoutube").attr("src", "#");
        })
    })

    function loadVideo(vId) {
        var iframe = document.getElementById("iframeYoutube");
        iframe.src = "https://www.youtube.com/embed/" + vId;

        $("#myModal").modal("show");
    }
</script>

@*<script>
    $(function () {
        $('#loadmore').click(function () {
            $.ajax({
                url: '@Url.Action("GetVideoJson", "Home")',
                type: 'GET',
                data: '',
                dataType: 'json',
                success: function (data) {
                    //loadData(data)
                    $('#videoLoad').append("<div>Test</div>")
                },
                error: function () {
                    alert("Thất bại");
                }
            });
        })
    })
</script>*@
