@model IList<VnStyle.Services.Business.Models.ArticleListingModel>
@{
    ViewBag.Title = "Courses";
}

@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;
@* Article HomePageFeaturedArticles *@
<div id="nlg-module-ec633a6e-be5e" class="nlg-module nlg-module-featured-posts nlg-module-fp-a nlg-module-fp-full-width">

    <div class="container">



        <!-- Acticle -->
        <div class="nlg-col">
            <article class="nlg-entry nlg-entry-has-featured-media post-239 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-aviation tag-travel tag-voyage lazyloaded " style="padding-top: 0px; background-image: url(&quot;https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=555%2C500&quot;);">
                <a href="#" class="nlg-entry-body">
                    <div class="container">
                        <ul class="nlg-entry-meta">
                            <li class="nlg-category"><span style="color:#fff;background-color:#e8cd20">Travel</span></li>
                        </ul>
                        <!-- .nlg-entry-meta -->
                        <div class="nlg-entry-header">
                            <ul class="nlg-entry-meta no-spacing">
                                <li class="nlg-byline">
                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                        <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                    </span>
                                </li>
                                <li class="nlg-date">on <span><time datetime="2017-04-16T19:20:23+00:00" title="April 16, 2017 7:20 pm">April 16, 2017</time></span></li>
                            </ul>
                            <!-- .nlg-entry-meta -->

                            <h3 class="nlg-entry-title">24 Underrated Tourist Attractions You Need To See Instead Of The Usual Ones</h3>

                            <ul class="nlg-entry-meta">
                                <li class="nlg-rating">
                                    <div class="nlg-review-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <div class="nlg-review-result" style="width:86.6%">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <span class="nlg-label">4 stars</span>
                                </li>
                            </ul>
                            <!-- .nlg-entry-meta -->


                        </div>
                        <!-- .nlg-entry-header -->

                    </div>

                </a>
                <!-- .nlg-entry-body -->

                <picture style="display: none;">
                    <source sizes="(max-width: 555px) 100vw, 555px" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=555%2C500 555w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?zoom=2&amp;resize=555%2C500 1110w" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=555%2C500 555w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?zoom=2&amp;resize=555%2C500 1110w">
                    <img alt="" class=" lazyloaded" data-sizes="(max-width: 555px) 100vw, 555px" sizes="(max-width: 555px) 100vw, 555px">
                </picture>
            </article>
            <!-- .nlg-entry -->
        </div>
        <!-- .nlg-col -->
        <div class="nlg-col">
            <article class="nlg-entry nlg-entry-has-featured-media post-180 post type-post status-publish format-standard has-post-thumbnail hentry category-health tag-blood-pressure tag-control-blood tag-control-blood-pressure tag-herbal-treatment tag-high-blood tag-hypertension-naturally tag-reduce-hypertension tag-reduce-hypertension-naturally tag-side-effects tag-stresx-capsules lazyloaded " data-bgset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?zoom=3&amp;resize=350%2C231 1050w" style="padding-top: 0px; background-image: url(&quot;https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=730%2C482&quot;);">

                <a href="http://demo.aggressivemotions.com/newslog/how-to-control-blood-pressure-and-reduce-hypertension-naturally/" class="nlg-entry-body">

                    <div class="container">



                        <ul class="nlg-entry-meta">
                            <li class="nlg-category"><span style="color:#fff;background-color:#5423db">Health</span></li>
                        </ul>
                        <!-- .nlg-entry-meta -->

                        <div class="nlg-entry-header">

                            <ul class="nlg-entry-meta no-spacing">
                                <li class="nlg-byline">
                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                        <span rel="author"><span itemprop="author">Petra Janna</span></span>
                                    </span>
                                </li>
                                <li class="nlg-date">on <span><time datetime="2017-04-16T17:40:32+00:00" title="April 16, 2017 5:40 pm">April 16, 2017</time></span></li>
                            </ul>
                            <!-- .nlg-entry-meta -->

                            <h3 class="nlg-entry-title">How To Control Blood Pressure and Reduce Hypertension Naturally?</h3>

                            <ul class="nlg-entry-meta">
                                <li class="nlg-rating">
                                    <div class="nlg-review-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <div class="nlg-review-result" style="width:77.2%">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <span class="nlg-label">3 stars</span>
                                </li>
                            </ul>
                            <!-- .nlg-entry-meta -->


                        </div>
                        <!-- .nlg-entry-header -->

                    </div>

                </a>
                <!-- .nlg-entry-body -->

                <picture style="display: none;">
                    <source sizes="(max-width: 350px) 100vw, 350px" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?zoom=3&amp;resize=350%2C231 1050w" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?zoom=3&amp;resize=350%2C231 1050w">
                    <img alt="" class=" lazyloaded" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px">
                </picture>
                <picture style="display: none;"><source data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?zoom=3&amp;resize=350%2C231 1050w" sizes="383px" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/44.jpg?zoom=3&amp;resize=350%2C231 1050w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="383px"></picture>
            </article>
            <!-- .nlg-entry -->
            <article class="nlg-entry nlg-entry-has-featured-media post-242 post type-post status-publish format-standard has-post-thumbnail hentry category-food tag-fruit tag-vegetable lazyloaded " data-bgset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?zoom=3&amp;resize=350%2C231 1050w" style="padding-top: 0px; background-image: url(&quot;https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=730%2C482&quot;);">

                <a href="http://demo.aggressivemotions.com/newslog/do-you-wash-your-fruits-veggies-like-everyone-else/" class="nlg-entry-body">

                    <div class="container">



                        <ul class="nlg-entry-meta">
                            <li class="nlg-category"><span style="color:#fff;background-color:#e55234">Food</span></li>
                        </ul>
                        <!-- .nlg-entry-meta -->

                        <div class="nlg-entry-header">

                            <ul class="nlg-entry-meta no-spacing">
                                <li class="nlg-byline">
                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                        <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                    </span>
                                </li>
                                <li class="nlg-date">on <span><time datetime="2017-04-16T19:29:08+00:00" title="April 16, 2017 7:29 pm">April 16, 2017</time></span></li>
                            </ul>
                            <!-- .nlg-entry-meta -->

                            <h3 class="nlg-entry-title">Do You Wash Your Fruits &amp; Veggies Like Everyone Else?</h3>

                            <ul class="nlg-entry-meta">
                                <li class="nlg-rating">
                                    <div class="nlg-review-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <div class="nlg-review-result" style="width:86.6%">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <span class="nlg-label">4 stars</span>
                                </li>
                            </ul>
                            <!-- .nlg-entry-meta -->


                        </div>
                        <!-- .nlg-entry-header -->

                    </div>

                </a>
                <!-- .nlg-entry-body -->

                <picture style="display: none;">
                    <source sizes="(max-width: 350px) 100vw, 350px" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?zoom=3&amp;resize=350%2C231 1050w" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?zoom=3&amp;resize=350%2C231 1050w">
                    <img alt="" class=" lazyloaded" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px">
                </picture>
                <picture style="display: none;"><source data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?zoom=3&amp;resize=350%2C231 1050w" sizes="383px" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/106.jpg?zoom=3&amp;resize=350%2C231 1050w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="383px"></picture>
            </article>
            <!-- .nlg-entry -->
        </div>
        <!-- .nlg-col -->
        <div class="nlg-col">
            <article class="nlg-entry nlg-entry-has-featured-media post-171 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-marriage tag-relationship lazyloaded " data-bgset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=60%2C40 60w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=144%2C95 144w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=210%2C139 210w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=234%2C154 234w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=267%2C176 267w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=350%2C231 350w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=730%2C482 730w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=1440%2C950 1440w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?zoom=3&amp;resize=350%2C231 1050w" style="padding-top: 0px; background-image: url(&quot;https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=350%2C231&quot;);">

                <a href="http://demo.aggressivemotions.com/newslog/5-reasons-you-need-a-backbone-to-divorce/" class="nlg-entry-body">

                    <div class="container">

                        <span class="nlg-flag nlg-flag-red nlg-flag-circle nlg-flag-trending"><i class="fa fa-bolt"></i></span>


                        <ul class="nlg-entry-meta">
                            <li class="nlg-category"><span style="color:#fff;background-color:#9a22e5">Self Help</span></li>
                        </ul>
                        <!-- .nlg-entry-meta -->

                        <div class="nlg-entry-header">

                            <ul class="nlg-entry-meta no-spacing">
                                <li class="nlg-byline">
                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                        <span rel="author"><span itemprop="author">Petra Janna</span></span>
                                    </span>
                                </li>
                                <li class="nlg-date">on <span><time datetime="2017-04-16T12:40:12+00:00" title="April 16, 2017 12:40 pm">April 16, 2017</time></span></li>
                            </ul>
                            <!-- .nlg-entry-meta -->

                            <h3 class="nlg-entry-title">5 Reasons You Need a Backbone to Divorce</h3>

                            <ul class="nlg-entry-meta">
                                <li class="nlg-rating">
                                    <div class="nlg-review-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <div class="nlg-review-result" style="width:86.6%">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <span class="nlg-label">4 stars</span>
                                </li>
                            </ul>
                            <!-- .nlg-entry-meta -->


                        </div>
                        <!-- .nlg-entry-header -->

                    </div>

                </a>
                <!-- .nlg-entry-body -->

                <picture style="display: none;">
                    <source sizes="(max-width: 350px) 100vw, 350px" data-srcset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=60%2C40 60w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=144%2C95 144w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=210%2C139 210w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=234%2C154 234w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=267%2C176 267w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=350%2C231 350w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=730%2C482 730w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=1440%2C950 1440w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?zoom=3&amp;resize=350%2C231 1050w" srcset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=60%2C40 60w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=144%2C95 144w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=210%2C139 210w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=234%2C154 234w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=267%2C176 267w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=350%2C231 350w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=730%2C482 730w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=1440%2C950 1440w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?zoom=3&amp;resize=350%2C231 1050w">
                    <img alt="" class=" lazyloaded" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px">
                </picture>
                <picture style="display: none;"><source data-srcset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=60%2C40 60w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=144%2C95 144w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=210%2C139 210w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=234%2C154 234w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=267%2C176 267w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=350%2C231 350w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=730%2C482 730w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=1440%2C950 1440w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?zoom=3&amp;resize=350%2C231 1050w" sizes="344px" srcset="https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=60%2C40 60w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=144%2C95 144w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=210%2C139 210w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=234%2C154 234w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=267%2C176 267w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=350%2C231 350w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=730%2C482 730w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?resize=1440%2C950 1440w, https://i0.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/23.jpg?zoom=3&amp;resize=350%2C231 1050w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="344px"></picture>
            </article>
            <!-- .nlg-entry -->
            <article class="nlg-entry nlg-entry-has-featured-media post-208 post type-post status-publish format-standard has-post-thumbnail hentry category-life tag-glasses tag-round-face lazyloaded " data-bgset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?zoom=3&amp;resize=350%2C231 1050w" style="padding-top: 0px; background-image: url(&quot;https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=350%2C231&quot;);">

                <a href="http://demo.aggressivemotions.com/newslog/find-the-ultimate-deals-on-glasses-for-round-face-shape/" class="nlg-entry-body">

                    <div class="container">



                        <ul class="nlg-entry-meta">
                            <li class="nlg-category"><span style="color:#fff;background-color:#e02395">Life</span></li>
                        </ul>
                        <!-- .nlg-entry-meta -->

                        <div class="nlg-entry-header">

                            <ul class="nlg-entry-meta no-spacing">
                                <li class="nlg-byline">
                                    by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                        <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                    </span>
                                </li>
                                <li class="nlg-date">on <span><time datetime="2017-04-16T18:20:48+00:00" title="April 16, 2017 6:20 pm">April 16, 2017</time></span></li>
                            </ul>
                            <!-- .nlg-entry-meta -->

                            <h3 class="nlg-entry-title">Find The Ultimate Deals On Glasses For Round Face Shape</h3>

                            <ul class="nlg-entry-meta">
                                <li class="nlg-rating">
                                    <div class="nlg-review-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <div class="nlg-review-result" style="width:80%">
                                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <span class="nlg-label">4 stars</span>
                                </li>
                            </ul>
                            <!-- .nlg-entry-meta -->


                        </div>
                        <!-- .nlg-entry-header -->

                    </div>

                </a>
                <!-- .nlg-entry-body -->

                <picture style="display: none;">
                    <source sizes="(max-width: 350px) 100vw, 350px" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?zoom=3&amp;resize=350%2C231 1050w" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?zoom=3&amp;resize=350%2C231 1050w">
                    <img alt="" class=" lazyloaded" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px">
                </picture>
                <picture style="display: none;"><source data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?zoom=3&amp;resize=350%2C231 1050w" sizes="344px" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/73.jpg?zoom=3&amp;resize=350%2C231 1050w"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="344px"></picture>
            </article>
            <!-- .nlg-entry -->
        </div>
        <!-- .nlg-col -->
    </div>
    <!-- .nlg-col-wrap -->



</div>
<!-- .container -->
