@model IList<VnStyle.Services.Business.Models.ArticleListingModel>
@{
    ViewBag.Title = "Courses";
}

@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;
<div class="nlg-col-wrap nlg-col-3">
    <!-- Acticle -->
   
    <div class="nlg-col">
        <article class="nlg-entry nlg-entry-has-featured-media post-239 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-aviation tag-travel tag-voyage lazyloaded"
                 style="padding-top: 0px; background-image: url(&quot;https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=555%2C500&quot;);">
            <a href="#"
               class="nlg-entry-body">
                <div class="container">
                    <ul class="nlg-entry-meta">
                        <li class="nlg-category"><span style="color:#fff;background-color:#e8cd20">Travel</span></li>
                    </ul>
                    <!-- .nlg-entry-meta -->
                    <div class="nlg-entry-header">
                        <ul class="nlg-entry-meta no-spacing">
                            <li class="nlg-byline">
                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                    <span rel="author"><span itemprop="author">Karl Hampus</span></span>
                                </span>
                            </li>
                            <li class="nlg-date">on <span><time datetime="2017-04-16T19:20:23+00:00" title="April 16, 2017 7:20 pm">April 16, 2017</time></span></li>
                        </ul>
                        <!-- .nlg-entry-meta -->
                        <h3 class="nlg-entry-title">24 Underrated Tourist Attractions You Need To See Instead Of The Usual Ones</h3>
                        <ul class="nlg-entry-meta">
                            <li class="nlg-rating">
                                <div class="nlg-review-star">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    <div class="nlg-review-result" style="width:86.6%">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <span class="nlg-label">4 stars</span>
                            </li>
                        </ul>
                        <!-- .nlg-entry-meta -->

                    </div>
                    <!-- .nlg-entry-header -->
                </div>
            </a>
            <!-- .nlg-entry-body -->
            <picture style="display: none;">
                <source sizes="(max-width: 555px) 100vw, 555px" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=555%2C500 555w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?zoom=2&amp;resize=555%2C500 1110w"
                        srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?resize=555%2C500 555w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/70.jpg?zoom=2&amp;resize=555%2C500 1110w">
                <img alt="" class=" lazyloaded" data-sizes="(max-width: 555px) 100vw, 555px" sizes="(max-width: 555px) 100vw, 555px">
            </picture>
        </article>
        <!-- .nlg-entry -->
    </div>
    <!-- .nlg-col -->
    
    <!-- .nlg-col -->
</div>
