@model IEnumerable<VnStyle.Services.Business.Models.ImagesByArtist>

<div class="baguetteBoxTwo gallery">
    <div class="row">
       @foreach (var img in Model)
       {
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="@img.UrlImage">
                <img src="@img.UrlImage" alt="Park">
            </a>
        </div>
       }
        
   </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.baguetteBoxTwo');
</script>