@model VnStyle.Services.Business.Models.ArticleDetailModel

@{
    ViewBag.Title = "Intro";
}
@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;




<div class="row">
   
        @Html.Action("ArticleViewer", Model)
  </div>
