@model VnStyle.Services.Business.Models.ArticleDetailModel

@{
    ViewBag.Title = "Intro";
}


<div class="row">
   
        @Html.Action("ArticleViewer", Model)
   
    @*<div class="col-xs-12 col-sm-12 col-md-4">
            .....
        </div>*@

</div>
