@using VnStyle.Web.Infrastructure.Helpers;
<nav class="nlg-main-navigation">
    <ul id="menu-main-menu" class="nlg-nav-menu">

        <li class="current-menu-item">
            <a href="#">@Html.T("Global_Home")</a>
        </li>
        <li  >
            <a href="#">Xăm</a>
        </li>
        <li >
            <a href="#">Xỏ Khuyên</a>
            
        </li>
        <li id="menu-item-511" class="menu-item-has-children menu-item-mega-menu">
            <a href="#" data-cat="28">Sự kiện</a>
            <div class="nlg-mega-menu nlg-menu-drop">
                <div class="nlg-module nlg-module-grid-posts nlg-mm-posts">

                    <div class="container">
                        <div class="nlg-module-header">
                            <div class="nlg-module-title">
                                <h2 class="nlg-title">Self Help</h2>
                                <div class="nlg-actions"><a href="#">See All</a></div>
                            </div>
                        </div>
                        <div class="nlg-col-wrap nlg-col-3">
                            <div class="nlg-col">
                                <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-459 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-music tag-self-help"
                                         style="padding-top: 0px;">
                                    <figure class="nlg-featured-media">
                                        <a href="#">
                                            <img width="350" height="231" src="~/Content/images/16.jpg" class="attachment-nlg-350-231 size-nlg-350-231 agg-fade-in lazyloaded" alt="16">
                                        </a>
                                        <div class="nlg-entry-flags">
                                        </div>
                                    </figure>

                                    <div class="nlg-entry-body">

                                        <ul class="nlg-entry-meta first no-spacing">
                                            <li class="nlg-byline">
                                                by <span class="nlg-entry-author" itemscope="" itemtype="#>
                                                    <a href="#" rel="author"><span itemprop="author">Isabella Diana</span></a>
                                                </span>
                                            </li>
                                            <li class="nlg-date">
                                                on
                                                <a href="http://demo.aggressivemotions.com/newslog/music-the-perfect-remedy-to-a-long-tiring-day/">
                                                    <time datetime="2017-04-18T17:14:29+00:00" title="April 18, 2017 5:14 pm">April 18, 2017</time>
                                                </a>
                                            </li>
                                        </ul>

                                        <header class="nlg-entry-header">

                                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/music-the-perfect-remedy-to-a-long-tiring-day/">Music… The Perfect Remedy To A Long &amp; Tiring Day</a></h3>



                                        </header>

                                    </div>

                                </article>

                            </div>
                            <div class="nlg-col">

                                <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-415 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-movie tag-self-help"
                                         style="padding-top: 0px;">

                                    <figure class="nlg-featured-media">

                                        <a href="http://demo.aggressivemotions.com/newslog/download-and-enjoy-your-favorite-movies-by-downloading-them-against-a-click/">
                                            <img width="350" height="231" data-src="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=350%2C231" src="./Newslog – Clean &amp; Modern, Blog, News &amp; Magazine WordPress Theme_files/81.jpg" class="attachment-nlg-350-231 size-nlg-350-231 agg-fade-in lazyloaded" alt="81" data-srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?zoom=3&amp;resize=350%2C231 1050w" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px" srcset="https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=60%2C40 60w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=144%2C95 144w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=210%2C139 210w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=234%2C154 234w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=267%2C176 267w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=350%2C231 350w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=730%2C482 730w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?resize=1440%2C950 1440w, https://i1.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/81.jpg?zoom=3&amp;resize=350%2C231 1050w">
                                        </a>

                                        <div class="nlg-entry-flags">
                                        </div>


                                    </figure>

                                    <div class="nlg-entry-body">

                                        <ul class="nlg-entry-meta first no-spacing">
                                            <li class="nlg-byline">
                                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                    <a href="http://demo.aggressivemotions.com/newslog/author/isabelle/" rel="author"><span itemprop="author">Isabella Diana</span></a>
                                                </span>
                                            </li>
                                            <li class="nlg-date">
                                                on
                                                <a href="http://demo.aggressivemotions.com/newslog/download-and-enjoy-your-favorite-movies-by-downloading-them-against-a-click/">
                                                    <time datetime="2017-04-18T14:50:13+00:00" title="April 18, 2017 2:50 pm">April 18, 2017</time>
                                                </a>
                                            </li>
                                        </ul>

                                        <header class="nlg-entry-header">

                                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/download-and-enjoy-your-favorite-movies-by-downloading-them-against-a-click/">Download and Enjoy Your Favorite Movies By Downloading Them Against A Click</a></h3>



                                        </header>

                                    </div>

                                </article>

                            </div>
                            <div class="nlg-col">

                                <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-413 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-brazilian tag-music"
                                         style="padding-top: 0px;">

                                    <figure class="nlg-featured-media">

                                        <a href="http://demo.aggressivemotions.com/newslog/brazilian-human-hair-extensions-womens-shortcut-to-glam/">
                                            <img width="350" height="231" data-src="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=350%2C231" src="./Newslog – Clean &amp; Modern, Blog, News &amp; Magazine WordPress Theme_files/86.jpg" class="attachment-nlg-350-231 size-nlg-350-231 agg-fade-in lazyloaded" alt="86" data-srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=730%2C482 730w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=1440%2C950 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?zoom=3&amp;resize=350%2C231 1050w" data-sizes="(max-width: 350px) 100vw, 350px" sizes="(max-width: 350px) 100vw, 350px" srcset="https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=60%2C40 60w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=144%2C95 144w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=210%2C139 210w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=234%2C154 234w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=267%2C176 267w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=350%2C231 350w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=730%2C482 730w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?resize=1440%2C950 1440w, https://i2.wp.com/demo.aggressivemotions.com/newslog/wp-content/uploads/2017/04/86.jpg?zoom=3&amp;resize=350%2C231 1050w">
                                        </a>

                                        <div class="nlg-entry-flags">
                                        </div>


                                    </figure>

                                    <div class="nlg-entry-body">

                                        <ul class="nlg-entry-meta first no-spacing">
                                            <li class="nlg-byline">
                                                by <span class="nlg-entry-author" itemscope="" itemtype="http://schema.org/Person">
                                                    <a href="http://demo.aggressivemotions.com/newslog/author/isabelle/" rel="author"><span itemprop="author">Isabella Diana</span></a>
                                                </span>
                                            </li>
                                            <li class="nlg-date">
                                                on
                                                <a href="http://demo.aggressivemotions.com/newslog/brazilian-human-hair-extensions-womens-shortcut-to-glam/">
                                                    <time datetime="2017-04-18T14:45:45+00:00" title="April 18, 2017 2:45 pm">April 18, 2017</time>
                                                </a>
                                            </li>
                                        </ul>

                                        <header class="nlg-entry-header">

                                            <h3 class="nlg-entry-title"><a href="http://demo.aggressivemotions.com/newslog/brazilian-human-hair-extensions-womens-shortcut-to-glam/">Brazilian Human Hair Extensions Women’s Shortcut to Glam</a></h3>



                                        </header>

                                    </div>

                                </article>

                            </div>
                            <!--<span class="nlg-loader nlg-spinner"></span>-->
                        </div>


                    </div>

                </div>
                <ul class="sub-menu">
                    <li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-509">
                        <a href="#" data-cat="28">Sự kiện tattoo</a>
                    </li>
                    <li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-508"><a href="#" data-cat="70">Khuyến mãi</a></li>

                </ul>
            </div>
        </li>
        <li id="menu-item-9" >
            <a href="#">Hình ảnh</a>
            <div class="nlg-links-menu nlg-menu-drop">
                <ul class="sub-menu">
                    <li >
                        <a href="#">Artist Đăng Vinh</a>
                        <ul class="sub-menu">
                            <li ><a href="#">Post Title On Image</a></li>
                            <li ><a href="#">Post Title Above Image</a></li>
                            <li ><a href="#">Post Title Under Image</a></li>
                        </ul>
                    </li>

                    <li ><a href="#">Audio Post</a></li>
                    <li ><a href="#">Gallery Post</a></li>
                    <li ><a href="#">Paginated Post</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Khóa học</a></li>
        <li ><a href="#">XAMTV</a></li>
        <li class="nlg-more menu-item-has-children nlg-hide"><a href="http://demo.aggressivemotions.com/newslog/#" class="nlg-link btn">More<i class="fa fa-angle-down"></i></a></li>
    </ul>
</nav>