@model Ricky.Infrastructure.Core.IPagedList<VnStyle.Services.Business.Models.VideoListingModel>
    

<div class="article-section-1">
    <div class="row">
        @foreach (var imgThumb in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="article-overlay">
                    <a href="javascript:;">

                        <figure class="article-overlay-item">
                            @*<img src="@(article.UrlImage + "?h=320")" width="144" height="96" alt="@article.HeadLine" title="@article.HeadLine">*@
                            <img width="144" height="95" src="http://i3.ytimg.com/vi/@(imgThumb.Link)/maxresdefault.jpg">
                        </figure>
                        <div class="caption">
                            @imgThumb.Title
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
