@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers
@{


    var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
    var appSetting = settingSetting.LoadConfiguration<AppSetting>();
}
<aside class="nlg-sidebar nlg-sidebar-sticky" data-sticky-container>
    <div class="nlg-sidebar-inner" style="margin-left:15px";>


        <div id="newslog-fancy-posts-2" class="sidebar-widget nlg-widget-fancy-posts">
            <div class="widget-title">
                <h2 class="title"><i class="fa fa-newspaper-o"></i>Weekly Top Rated Posts</h2>
            </div>
            <div class="nlg-module nlg-module-grid-posts">
                <div class="container">
                    @Html.Action("GetArticlesSession2", "Home")



                </div>
            </div>
        </div>
        <div id="newslog-social-icons-2" class="sidebar-widget nlg-widget-social-icons">
           
            <div class="widget-title">
                <h2 class="title"><i class="fa fa-youtube"></i>YOUTUBE</h2>
            </div>
            
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UCfazwxHB6usZ4FOa2-LFaBQ" data-layout="full" data-count="default"></div>
            <hr />
            <div class="widget-title">
                <h2 class="title"><i class="fa fa-facebook"></i>FACEBOOK</h2>
            </div>
            <div id="fb-root"></div>
            <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/vnstyletattoo/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vnstyletattoo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vnstyletattoo/">VNStyle Tattoo &amp; Piercing</a></blockquote></div>
        </div>

       
    </div>

  

    <div id="newslog-instagram-feed-2" class="sidebar-widget nlg-widget-instagram-feed">
        <div class="widget-title">
            <h2 class="title"><i class="fa fa-instagram"></i>INSTAGRAM</h2>
        </div>
        <div class="nlg-instagram-images clearfix nlg-col-4">
            
            <a href="" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21576474_1073595422777481_3921958191025356800_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="#" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21373365_1220689244743429_7453327576501583872_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21568908_145485482720263_7340827264734461952_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="#" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/20687359_127485801202054_7008054285267107840_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>

            <a href="" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21576474_1073595422777481_3921958191025356800_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="#" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21373365_1220689244743429_7453327576501583872_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21568908_145485482720263_7340827264734461952_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="#" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/20687359_127485801202054_7008054285267107840_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>

            <a href="" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21576474_1073595422777481_3921958191025356800_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="#" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21373365_1220689244743429_7453327576501583872_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/21568908_145485482720263_7340827264734461952_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>
            <a href="#" class="nlg-item" target="_blank" rel="nofollow">
                <img src="https://instagram.fsgn5-2.fna.fbcdn.net/t51.2885-15/e35/20687359_127485801202054_7008054285267107840_n.jpg" class="nlg-instagram-img agg-fade-in lazyloaded" alt="" width="50" height="50" sizes="(max-width: 750px) 100vw, 750px">
            </a>



        </div>
            
    </div>
</aside>
<script>
    var sticky = new Sticky('.nlg-sidebar-inner', {});
</script>