<div class="col-md-4">
  <!-- <ul id="tree3" class="tree">
    <li class="branch" *ngFor="let rootCate of getRootCategories()">
      <i class="indicator glyphicon glyphicon-chevron-down"></i><a href="#">{{rootCate.name}}</a>
      <ul>
        <li style="display: none;">Company Maintenance</li>
        <li class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-chevron-down"></i>Employees
          <ul>
            <li class="branch" style="display: none;"><i class="indicator glyphicon glyphicon-chevron-down"></i>Reports
              <ul>
                <li style="display: none;">Report1</li>
                <li style="display: none;">Report2</li>
                <li style="display: none;">Report3</li>
              </ul>
            </li>
            <li style="display: none;">Employee Maint.</li>
          </ul>
        </li>
        <li style="display: none;">Human Resources</li>
      </ul>
    </li>

  </ul> -->

  <app-treeview></app-treeview>
</div>
