<div class="row mr-top-15">
    <div class="" *ngIf="articleGrid.loading">
      <!-- <app-spinner class="text-center"></app-spinner> -->
    </div>
    <div class="" *ngIf="!articleGrid.loading">
  
      <div class="">
        <div class="col-xs-12">
          <table class="table table-tripped">
            <thead>
              <tr>
                <th>#</th>
                <th>Headline</th>
                <th>Created time</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of articleGrid.data; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{article.headLine}}</td>
                  <td>{{article.createdDate | date:'dd/MM/yyyy H:m'}}</td>
                </tr>
            </tbody>
          </table>
        </div>        
      </div>      
    </div>
  </div>
  
  
  