<div class="row mr-top-15">
  <div class="col-xs-12">
    <div class="pull-right">
        
      <a [routerLink]="['/cms/' + rootCateId +  '/' + rootCateName + '/articles/new/']" class="btn btn-primary">Thêm bài viết</a>
    </div>
  </div>
  <div class="col-xs-12" *ngIf="!articleGrid.loading">
    <table class="table table-tripped">
      <thead>
        <tr>
          <th>#</th>
          <th>Tiêu đề</th>
          <th>Ngày tạo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articleGrid.data; let i = index">
          <td>{{i + 1}}</td>
          <td><a [routerLink]="['/cms/' + rootCateId +'/articles/' + article.id]">{{article.headLine}}</a></td>
          <td>{{article.createdDate | date:'dd/MM/yyyy H:m'}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
