.mr-top-15{
    margin-top: 15px;
}

.clickable{
    cursor: pointer;
}

.swal2-buttonswrapper .swal2-confirm{
    margin-right: 10px;
}

.italic-text{
    font-style: italic !important;
}

.bold-text{
    font-weight: bold !important;
}